### Local and Global variables

#### Ex1

In [1]:
x = 10                # x is a global variable
print(x)              # 10

def f1():
    print(x)           
    
f1()                  # 10
print(x)              # 10

10
10
10

#### Ex2

In [3]:
y = 5
print(y)              # 5

def f2():
    y = 7             # y is a local varaible
    print(y)           
    
f2()                  # 7
print(y)              # 5

5
7
5

#### global
1) global keyword is used to create global variable<br>
2) They are declared in one line and intialized in the next line

Synatx:

    global h
    h = "Python"

In [5]:
w = "Python"
print(w)          # Python 

def f3():
    global w
    w = "Stats"
    print(w)
    
f3()             # Stats
print(w)         # Stats

Python
Stats
Stats

In [1]:
w = "Python"
print(w)          # Python 

def f3():
    global w
    w = "Stats"
    print(w)
    w = "SQL"
    
f3()             # Stats
print(w)         # SQL

Python
Stats
SQL

In [2]:
w = "Python"
print(w)          # Python 

def f3():
    global w
    w = "Stats"
    print(w)
    w = "SQL"
    
print(w)         # Python
f3()             # Stats

Python
Python
Stats

In [4]:
w = "Python"
print(w)          # Python 

def f3():
    global w
    w = "Stats"
    print(w)
    w = "SQL"
    
print(w)         # Python
f3()             # Stats
w = "Data Science"
print(w)
f3()

Python
Python
Stats
Data Science
Stats

In [10]:
w = "Python"
print(w)          # Python 

def f4():
    global w
    w = "Stats"
    print(w)
    w = "SQL"
    
w = 45
print(w)          #  45
f4()              #  Stats
print(w)          #  SQL

Python
45
Stats
SQL

### args and kwargs

<b>args:</b> It is used to pass variable number of arguments to a function. <br>
The data type of args is tuple. Any name can be used instead of args<br>
Syntax<br>

    def f1(*args)

<b>kwargs:</b> It is used to pass variable number of kewyword arguments to a function
The data type of kwargs is dictionary. Any name can be used instead of args<br>
Syntax<br>
    
    def f1(**kwargs)

In [5]:
def sum2(x,y):
    print(x+y)
    
sum2(5,7)

12

In [6]:
def sum_n(*args):
#     print(type(args)) # tuple
    print(sum(args))
    
sum_n(4,5,6)
sum_n(4,5,6,7,8,10)
sum_n(4,5,6,23,56)
sum_n(4,5,6,7,12,13,14,15,16,17)

15
40
94
109

In [7]:
def sum_n(*x):
#     print(type(x)) # tuple
    print(sum(x))
    
sum_n(4,5,6)
sum_n(4,5,6,7,8,10)
sum_n(4,5,6,23,56)
sum_n(4,5,6,7,12,13,14,15,16,17)

15
40
94
109

In [11]:
def marks_student(name, *marks):
    sum_marks = sum(marks)
    avg_marks = sum(marks)/len(marks)
    print(f'{name} has score total of {sum_marks} with an avg of {avg_marks}')
    
    
marks_student('Ankit',34,45,56,78)
marks_student('Mohit',78,89,93,68,72,85,90)

Ankit has score total of 213 with an avg of 53.25
Mohit has score total of 575 with an avg of 82.14285714285714

#### kwargs

In [7]:
def descr(**kwargs):
    print(kwargs)
    print(type(kwargs))
    
descr(name='Ankit',age=20,city='Delhi')

{'name': 'Ankit', 'age': 20, 'city': 'Delhi'}
<class 'dict'>

In [ ]:
def descr(**x):
    print(x)
    print(type(x))
    
descr(name='Ankit',age=20,city='Delhi')

In [16]:
def descr(**x):
    print(x)
    print(type(x))
    
descr(name='Ankit',age=20,city='Delhi',course="SQL",education='BTECH')

{'name': 'Ankit', 'age': 20, 'city': 'Delhi', 'course': 'SQL', 'education': 'BTECH'}
<class 'dict'>

### Destructuring

In [12]:
r = [12,13,14,15,17,20,23]
print(r)
a,b,*c = r
print(a)
print(b)
print(c)
n1,*n2,n3 = r
print(n1)
print(n2)
print(n3)

[12, 13, 14, 15, 17, 20, 23]
12
13
[14, 15, 17, 20, 23]
12
[13, 14, 15, 17, 20]
23

In [14]:
r = [1,2,3]
d1 = [5,10,15,*r,20]
d2 = [5,10,15,r,20]
print(d1)
print(d2)

[5, 10, 15, 1, 2, 3, 20]
[5, 10, 15, [1, 2, 3], 20]

In [20]:
d1 = {'a1':'hello','a2':20,'a3':40,'a4':50}
print(d1)
d2 = {'k1':20,'k2':30,'k3':d1}
d3 = {'k1':20,'k2':30,**d1}
print(d2)
print(d3)

{'a1': 'hello', 'a2': 20, 'a3': 40, 'a4': 50}
{'k1': 20, 'k2': 30, 'k3': {'a1': 'hello', 'a2': 20, 'a3': 40, 'a4': 50}}
{'k1': 20, 'k2': 30, 'a1': 'hello', 'a2': 20, 'a3': 40, 'a4': 50}

### Generators
1) It is function where yield keyword is used instead of return.<br>
2) It is used ot overcome the limitations of a function with return.

#### yield
1) It can return a sequence of values<br>
2) It can be used multiple times in a function<br>

In [19]:
def gen1():
    for i in range(1,5):
        yield i

a = gen1()
for i in a:
    print(i)

1
2
3
4

In [21]:
def gen2():
    yield [x+2 for x in range(2,10,3)]   # [4,7,10]
    yield "Hello world"
    

b = gen2()
res = [i for i in b]
print(res)

[[4, 7, 10], 'Hello world']

### Decorators