### Print formatting methods

In [5]:
name = "Mohit"
age = 22
role = "Data Scientist"
print(name,age,'aspires to be a',role) # comma separated method
print(f'{name} {age} aspires to be a {role}')  # f-formatting
print('{} {} aspires to be a {}'.format(name,age,role)) # using format function
print('{} {} aspires to be a {}'.format(role,name,age))

Mohit 22 aspires to be a Data Scientist
Mohit 22 aspires to be a Data Scientist
Mohit 22 aspires to be a Data Scientist
Data Scientist Mohit aspires to be a 22

#### Indentation
1) 1 tab space is referred to as indentation<br>
2) Indentation is used in conditional statements, for and while loops, functions etc

### If-elif-else

#### 1) if

In [12]:
n = 45
if n%7==0 :
    print(n,'is divisible by 7')

In [13]:
n = 45
if n%5==0 :
    print(n,'is divisble by 5')

45 is divisble by 5

#### 2) if-else

In [21]:
n = 45
if n%9==0 :
    print(n,'is divisble by 9')
else:
    print('False')

45 is divisble by 9

#### Q) Accept a user input as int. Print if it is even or odd

In [26]:
a = int(input('Enter a number:'))
if a%2==0:
    print(f'{a} is even')
else:
    print(f'{a} is odd')

Enter a number:23
23 is odd

#### 3) if-elif
Multiple(more than 2) conditions checking

In [31]:
lang = "Python"
if lang=="Java":
    print('Java Developer')
elif lang == "Ruby":
    print('Ruby Developer')
elif lang == "Golang":
    print('Golang Developer')
elif lang == "K8":
    print('Kubernetes Dev')
elif lang == "React":
    print('React Developer')
elif lang == "Angular":
    print('Angular Developer')

In [33]:
lang = "Java"
if lang=="Rust":
    print('Rust Developer')
elif lang == "Ruby":
    print('Ruby Developer')
elif lang == "Java":
    print('Java Developer')
elif lang == "Python":
    print('Python Developer')
elif lang == "Java":
    print('Java2 Developer')
elif lang == "Angular":
    print('Angular Developer')
print('Hello world')

Java Developer
Hello world

#### 4) if-elif-else

In [34]:
lang = "Python"
if lang=="Java":
    print('Java Developer')
elif lang == "Ruby":
    print('Ruby Developer')
elif lang == "Golang":
    print('Golang Developer')
elif lang == "Node":
    print('Node Developer')
elif lang == "React":
    print('React Developer')
elif lang == "Angular":
    print('Angular Developer')
else:
    print('None of the above')

None of the above

#### 5) Nested If - if inside if n number of times

In [42]:
n = 26
if n%5==0:  # False
    if n%3==0: # 
        print(f'{n} is divisible by 15')         # C1
    else:
        print('{} is divisible by 5'.format(n))  # C2
else:
    if n%13==0:
        print(f'{n} is divisible by 13')  # C3
    else:
        print(n,'is not divisible by 5')  # C4

26 is divisible by 13

#### Notes
1) if has to be the first statement<br>
2) else has to be the last statement.<br>
3) Between if and else there can be multiple elif statements<br>

#### Q) Which one of them will definitely return an output ? 
1) if<br>
2) if-else<br>
3) if-elif<br>
4) if-elif-else<br>

### For Loops
In range() method
1) In ascending order, iteration proceeds from start till end-1, step size is positive<br>
2) In descending order, iteration proceeds from start till end+1, step size is negative<br>
3) Default step value = +1<br>
4) range() works only on int

In [43]:
print(0)
print(1)
print(2)
print(3)
print(4)
print(5)

0
1
2
3
4
5

In [47]:
for game in range(6): # start=0,end=6,step=+1
    print(game)

0
1
2
3
4
5

In [50]:
for i in range(4): # start=0, end=4, step=1
    print(i)

0
1
2
3

In [52]:
for g in range(3,10): # start=3, end=10, step=1
    print(g)

3
4
5
6
7
8
9

In [53]:
for r in range(25,32): # start=25, end=32, step=1
    print(r)

25
26
27
28
29
30
31

In [55]:
for i in range(5): # start=0,end=5,step=+1
    print(i)

0
1
2
3
4

In [57]:
for i in range(,4):
    print(i)

SyntaxError: invalid syntax (<ipython-input-57-f14f6d17a263>, line 1)

In [56]:
for h in range(10,20,2): # start=10,end=20,step=2
    print(h)
# h = 10
# h+2 = 12
# h+2 = 14
# h+2 = 16
# h+2 = 18

10
12
14
16
18

In [58]:
for i in range(9,63,7): # start=9,end=63,step=7
    print(i)

9
16
23
30
37
44
51
58

In [60]:
for i in range(34,50,4):
    print(i,end=" ")

34 38 42 46

In [64]:
for i in range(34,50,4):
    print(i,end=" ")

34 38 42 46

In [65]:
for i in range(14,5): # start=14, end=5, step=1
    print(i)

In [66]:
for i in range(14,5,-1): # start=14, end=5, step=-1
    print(i,end=" ")

14 13 12 11 10 9 8 7 6

In [69]:
for i in range(60,10,-5): # start=60, end=10, step=-5
    print(i,end=" ")

60 55 50 45 40 35 30 25 20 15

In [19]:
for i in range(1): # start=0,end=1,step=1
    print(i)

0

#### Print the table of 15 in the format: 15 * 1 = 15

a) From 1 to 10<br>
b) From 10 to 1 in reverse order<br>
c) For odd multiples between 1 to 14<br>
d) For even multiples between 5 to 17<br>
e) For even multiples between 30 to 20 in reverse order.<br>
f) For odd multiples between 25 to 15 in reverse order.<br>

In [99]:
n = 15
for i in range(1,11): 
#     print(f'{n} * {i} = {n*i}')
    print(n,'*',i,'=',n*i)

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [101]:
n = 15
for i in range(10,0,-1): 
    print(f'{n} * {i} = {n*i}')

15 * 10 = 150
15 * 9 = 135
15 * 8 = 120
15 * 7 = 105
15 * 6 = 90
15 * 5 = 75
15 * 4 = 60
15 * 3 = 45
15 * 2 = 30
15 * 1 = 15

In [86]:
n = 15
for i in range(1,14,2): 
    print(f'{n} * {i} = {n*i}')

15 * 1 = 15
15 * 3 = 45
15 * 5 = 75
15 * 7 = 105
15 * 9 = 135
15 * 11 = 165
15 * 13 = 195

In [87]:
n = 15
for i in range(6,17,2): 
    print(f'{n} * {i} = {n*i}')

15 * 6 = 90
15 * 8 = 120
15 * 10 = 150
15 * 12 = 180
15 * 14 = 210
15 * 16 = 240

In [92]:
n = 15
for i in range(30,19,-2): 
    print(f'{n} * {i} = {n*i}')

15 * 30 = 450
15 * 28 = 420
15 * 26 = 390
15 * 24 = 360
15 * 22 = 330
15 * 20 = 300

In [104]:
n = 15
for i in range(25,14,-2): 
    print(f'{n} * {i} = {n*i}')

15 * 25 = 375
15 * 23 = 345
15 * 21 = 315
15 * 19 = 285
15 * 17 = 255
15 * 15 = 225

In [94]:
for i in range(7,7): # start=7,end=7,step=1
    print(i)

In [97]:
for i in range(0):
    print(i)

In [98]:
for i in range(3.2,4.9,0.3):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

#### Iterate on Strings
1) Positive indexes start from 0 and move from left to right in increasing order<br>
2) Nagative indexes start from -1 and move from right to left in decreasing order

In [105]:
w = "India"
print(len(w))
print(w)

5
India

In [36]:
print(w[0])
print(w[2])
print(w[-4])
print(w[-1])

I
d
n
a

In [106]:
# Method-1 - Character wise iteration
s = "Today"
for i in s:  # i corresponds to each and very character of thee string s
    print(i,end=" ")

T o d a y

In [110]:
# Method-2 - Index wise iteration
s = "Today"
for i in range(len(s)): # i corresponds to the index of each character in the string s
    print(i,s[i])
    
# start=0,end=len(s)=5,step=+1

# i=0, s[0]=T
# i=1, s[1]=o
# i=2, s[2]=d
# i=3, s[3]=a
# i=4, s[4]=y

0 T
1 o
2 d
3 a
4 y

#### Printing Reverse string using positive indexes

In [123]:
s = "Today"
for i in range(len(s)-1,-1,-1):   # start=5-1, end=-1,step=-1
    print(s[i],end=" ")

# i=4, s[4] = y
# i=3, s[3] = a
# i=2, s[2] = d
# i=1, s[1] = o
# i=0, s[0] = T

y a d o T

In [120]:
s = input('Enter a string: ')
for i in range(len(s)-1,-1,-1):   # start=6, end=-1,step=-1
    print(s[i],end=" ")

Enter a string: Welcome
e m o c l e W

### While Loops

In [127]:
i = 0
while i<5:
    print(i)
    i += 1

0
1
2
3
4

In [128]:
i = 0
while i<5:
    i += 1
    print(i)

1
2
3
4
5

In [131]:
i = 14
while i>=4:
    print(i)
    i -= 2

14
12
10
8
6
4

In [136]:
d = 17
while d>4:
    print(d,end=" ")
    d -= 2

17 15 13 11 9 7 5

In [138]:
w = 1200
while w > 5:
    print(w+3,end=" ")
    w //= 5
    
# w=1200
# step1 -> 1200>5, print(1200+3)=1203 , w=1200//5 = 240
# Step2 -> 240>5, print(240+3)= 243, w=240//5= 48
# Step3 -> 48>5, print(48+3)= 51, w=48//5= 9
# Step4 -> 9>5, print(9+3)= 12, w=9//5= 1

1203 243 51 12

In [140]:
w = 1200
while w > 5:
    w //= 5
    print(w+3,end=" ")

243 51 12 4

#### Iterate on Strings

In [144]:
s = "Welcome"
i = 0
while i<len(s):   # 0<7
    print(s[i])
    i += 2
    
# i=0, 0<7, s[0]=W
# i=2, 2<7, s[2]=l
# i=4, 4<7, s[4]=o
# i=6, 6<7, s[6]=e

W
l
o
e

In [48]:
s = "Python"
i=0
while i<len(s): # i<6
    i += 1
    print(s[i],end="")
    
# i<6,i=1, s[1]=y
# 1<6,i=2, s[2]=t
# 2<6,i=3, s[3]=h
# 3<6,i=4, s[4]=o
# 4<6,i=5, s[5]=n
# 5<6, i=6, s[6] = ? =>  Error

ython

IndexError: string index out of range

In [148]:
s = "Python"
i=-1
while i<len(s)-1: # i<5
    i += 1
    print(s[i],end="")
    
# i=-1, while i<6-1 => i<5
# S1 => i+=1=> i=-1+1=0,s[0]=P
# S2 => i+=1=> i=0+1=1,s[1]=y
# S3 => i+=1=> i=1+1=2,s[2]=t
# S4 => i+=1=> i=2+1=3,s[3]=h
# S5 => i+=1=> i=3+1=4,s[4]=o
# S6 => i+=1=> i=4+1=5,s[5]=n

Python

IndexError: string index out of range

#### Q) Accept a string as user input and print it in reverse order using while loop

In [153]:
s = input('Enter a string: ')
i = len(s)-1  # 6
while i>=0:
    print(s[i],end="")
    i -= 1
    
# i=5, i>=0, s[5]=n
# i-=1, i=4, i>=0, s[4]=o
# i-=1, i=3, i>=0, s[3]=h
# i-=1, i=2, i>=0, s[2]=t
# i-=1, i=1, i>=0, s[1]=y
# i-=1, i=0, i>=0, s[0]=P

Enter a string: Python
nohtyP

#### break - The moment break keyword in encountered, it takes program control out of the loop

In [52]:
for i in range(10,20):
    if i%3==0:
        break
    else:
        print(i)

10
11

In [53]:
for i in range(10,20):
    if i%3==0:
        print(i)
        break
    else:
        print(i)

10
11
12

In [54]:
for i in range(10,20):
    if i%3==0:
        print(i)
    else:
        print(i)
        break

10

In [55]:
for i in range(10,20):
    if i%3==0:
        print(i)
    else:
        break

In [58]:
i = 1
while i<7:
    print(i)
    if i%3==0:
        break
    i+=1

1
2
3

In [60]:
i = 30
while i<70:
    print(i)
    if i>45:
        break
    i+=5

30
35
40
45
50

#### continue - The moment continue is encountered, it takes the progranm control to the beggining of the loop

In [62]:
for i in range(10,20):
    if i%3==0:  # 12, 15, 18
        continue
    else:
        print(i)

10
11
13
14
16
17
19

In [63]:
for i in range(10,20):
    if i%3==0:  # 12, 15, 18
        print(i)
        continue
    else:
        print(i)

10
11
12
13
14
15
16
17
18
19

In [1]:
for i in range(10,20):
    if i%3==0:  # 12, 15, 18
        print(i)
    else:
        continue

12
15
18

In [1]:
i = 10 
while i>3:
    i -= 1
    if i%2==0:
        continue
    print(i)

9
7
5
3