#### Jupyter Shortcuts

1) Execute/Run the cell -> Shift + Enter<br>
2) Add a new cell on top of a cell -> A<br>
3) Add a new cell on below a cell -> B<br>
4) Delete a cell -> double D<br>
5) Undo delete -> Z<br>
6) Shortcuts -> H

# Heading 1

## Heading 2

### Heading 3

#### Heading 4

##### Heading 5

###### Heading 6

Text in normal size

#### Different IDEs for Python

IDE (Integerated Developmenet Environment)

1) Jupyter<br>
2) Google Colab<br>
3) VS Code<br>
4) PyCharm<br>
5) Spyder<br>
6) Pythhon IDLE<br>
7) Notepad<br>
8) Notepad ++<br>
9) Sublime<br>
10) Atom<br>
11) Thonny<br>
12) Eclipse<br>

#### Notes
1) () are called as parenthesis

### Comments
1) Meant for internal documentation<br>
2) They are not executed. Only meant explaination purpose<br>
3) Comments are written in Code cell starting with #<br>

### Variables
1) Reserved memory that stores data<br>
2) Variable is a container that can store any data. Data can be of any data types<br>
3) Can be reassigned and reinitialized<br>
4) Multiple variables can be created in the same line<br>

In [5]:
a = 10
print(a)

# 1) The value of 10 is stored in variable a
# 2) The value of 10 is assigned to variable a
# 3) The variable a has been initialized with the value of 10

10

In [7]:
a = 17
print(a)

17

In [9]:
print(a)

17

In [12]:
a1 = "Hello"
a2 = 56
print(a1)
print(a2)

Hello
56

In [14]:
# Initializing Multiple variables in the same line
b1, b2, b3 = "Welcome", 34, True
print(b1)
print(b2)
print(b3)

Welcome
34
True

In [17]:
print(b1,b2)
print('Hello','world','Python')

Welcome 34
Hello world Python

### Rules of naming  a variable

1) Should start with A-Z, a-z or _(underscore)<br>
2) Should not start with numbers.<br>
3) Should not contain special characters.<br>
4) Should not contain space in between<br>
5) Python keywords should be avoided in variable name<br>

#### Valid variable names

In [18]:
Sales_mar = 3400
prof_2022 = 8.5
_course = "Python"
print(Sales_mar)
print(prof_2022)
print(_course)

3400
8.5
Python

In [23]:
name34 = "Harsh"
print(name34)

Harsh

In [24]:
23name = "Ankit"
print(23name)

SyntaxError: invalid syntax (<ipython-input-24-e056fbd66ff3>, line 1)

In [25]:
city@india = "Delhi"
print(city@india)

SyntaxError: cannot assign to operator (<ipython-input-25-8ad3240758b2>, line 1)

In [26]:
dwc dsd = "Noida"
print(dwc dsd)

SyntaxError: invalid syntax (<ipython-input-26-716b90ab2b2e>, line 1)

In [27]:
_234rtbef = "Google"
print(_234rtbef)

Google

### Data Types

Data types are the different categories of data that we can store in a variable.<br>
Examples - int, float, bool, str, None,complex etc

type() - type function returns the data type

In [38]:
x = 45
x
print('Hello')

Hello

In [34]:
x = 45
x   # not get executed
print(x+3)

48

In [35]:
v1 = 10
print(v1)
type(v1)

10

int

In [28]:
v1 = 10
print(v1)
print(type(v1))

10
<class 'int'>

In [39]:
v2 = 23.45
print(v2)
print(type(v2))

23.45
<class 'float'>

In [40]:
v3 = False
print(v3)
print(type(v3))

False
<class 'bool'>

In [45]:
v3 = True
print(v3)
print(type(v3))

True
<class 'bool'>

In [46]:
v4 = None
print(v4)
print(type(v4))

None
<class 'NoneType'>

In [48]:
v5 = 5 + 2j
print(v5)
print(type(v5))
# m + nj => m is the real part, n is the imaginary part,
# j is squareroot of -1

(5+2j)
<class 'complex'>

#### Notes
1) Strings can be enclosed in single, double or triple quotes<br>
2) Strings can include alphabets(upper or lower case, numbers, special chars, space and everything else)

In [63]:
v5 = "Welcome to Python"
print(v5)
print(type(v5))

Welcome to Python
<class 'str'>

In [64]:
f = "3242342"
print(f)
print(type(f))

3242342
<class 'str'>

In [66]:
f = '23.345'
print(f)
print(type(f))

23.345
<class 'str'>

In [68]:
f = "WelComE to #%$#@%^&**&^%$# 632184230"
print(f)
print(type(f))

WelComE to #%$#@%^&**&^%$# 632184230
<class 'str'>

In [50]:
v6 = 'Learning Python is fun'
print(v6)
print(type(v6))

Learning Python is fun
<class 'str'>

In [69]:
v7 = '''Learning 
Python'''
print(v7)

Learning
Python

In [70]:
v7 = """Learning Python with 
hands on examples
"""
print(v7)
print(type(v7))

Learning Python with
hands on examples

<class 'str'>

In [72]:
d = """welcome to India"""
print(d)

welcome to India

In [57]:
r = 5e3  # 5*10^3
print(r)
type(r)

5000.0

float

In [62]:
r1 = 3e-4  
print(r1)
type(r1)

0.0003

float

### Operators
Entities using which we can perform mathematical operations

### 1) Arithmetic Operators

In [76]:
a,b = 5,2
print(a+b)
print(a-b)
print(a*b)
print(a/b)  # Always Returns float
print(a**b) # Power Operator ( a raised to power of b)
print(b**a)
print(a//b) # Integer Division
print(a%b)  # Modulo Operator (returns remainder)

7
3
10
2.5
25
32
2
1

#### Difference between / and //

In [77]:
print(4/2) # always returns float
print(4//2)

2.0
2

In [80]:
print(4.5/2) # always returns float
print(4.5//2)
print(7.5//4)

2.25
2.0
1.0

### 2) Assignment Operator

In [85]:
a,b = 2,5
print(a,b)
b += a   # (b = b+a) 
print('---------')   # Meant to separate outputs
print(a,b) # a=2, b=7
b -= a   # (b = b-a)
print('---------')
print(a,b) # a=2,b=5
a *= b   # (a = a*b)
print('---------')
print(a,b) # a=10, b=5
b /= a   # (b = b/a)
print('---------')
print(a,b) # a=10, b=0.5

2 5
---------
2 7
---------
2 5
---------
10 5
---------
10 0.5

In [88]:
a,b = 2,5
print(a,b)
b **= a   # (b = b**a) 
print('---------')
print(a,b) # a=2, b=25 
b //= a   # (b = b//a)
print('---------')
print(a,b) # a=2, b=12
b %= a   # (b = b%a)
print('---------')
print(a,b) # a=2,b=0

2 5
---------
2 25
---------
2 12
---------
2 0

In [98]:
a,b=2,5
print(a,b)
a  = a+b
print(a,b)
a += b
print(a,b)

2 5
7 5
12 5

### 3) Relational/Comparison Operator 
Returns True or False

In [94]:
a,b =  20,25
print(a>b)  # F
print(a<b)  # T
print(a>=b) # F
print(a<=b) # T
print(a!=b) # Not Equal to
print(a==b) # Equal to (Comparison)

False
True
False
True
True
False

In [91]:
a=4
b=3
print(a=b)

TypeError: 'a' is an invalid keyword argument for print()

### 4) Logical Operators
and - Returns True when both conditions are True, otherwise False<br>
or - Returns True when either of the condition is True, otherwise False

In [95]:
a,b,c = 10,15,20
print(a>b and c>b) #F
print(a<b and a>c) #F
print(a<b and b<c) #T
print(a>b or c>b)  #T
print(a>c or b>c)  #F

False
False
True
True
False

### 5) Membership Operators
Retunrs True or False<br>
Applied on str only(as of now)

In [107]:
a = "Welcome to python Learning"
print("me" in a)
print('python' in a)  # case sensitive
print("n Le" in a)
print("m Le" in a)
print('very' in a)
print("m Le" in a or "n Le" in a)
print("m Le" in a and "n Le" in a)

print('hello' not in a)
print('ning' not in a)

True
True
True
False
False
True
False
True
False

### end and sep arguments of print()

In [112]:
print("Welcome to \nPython Learning")

Welcome to
Python Learning

In [114]:
print('MySQL installation')
print('Anaconda installation')

MySQL installation
Anaconda installation

In [116]:
print('MySQL installation', end=" ")
print('Anaconda installation')

MySQL installation Anaconda installation

In [117]:
a = "Hello"
b = "World"
c = "Python"
print(a,b,c)
print(a,b,c,end="Hi")

Hello World Python
Hello World PythonHi

In [118]:
print(a,b,c,end=" Hi ")

Hello World Python Hi

In [119]:
print(a,b,end=" Hi ")

Hello World Hi

In [38]:
print(a,b,c,end=" ** ")

Hello World Python **

In [123]:
print(a,b,c)
print(a,b,c,sep=" ** ")
print(a,b,c,sep="**")
print(a,b,c,sep=" Google ")

Hello World Python
Hello ** World ** Python
Hello**World**Python
Hello Google World Google Python

In [124]:
print(a,b,c,sep=" $$ ",end=" Ends here")

Hello $$ World $$ Python Ends here

In [125]:
a = "Mobile"
print(a,end=" Phone")

Mobile Phone

In [126]:
a = "Mobile"
print(a,sep=" Phone")

Mobile

### Accepting input from the user
input() - Accept input from the user

In [129]:
n = input()
print(n)
type(n)

Hello
Hello

str

In [131]:
m = input('Enter a name: ')
print('Hello',m,'Welcome to Python session')

Enter a name: Harsh
Hello Harsh Welcome to Python session

In [141]:
a = input()
print(a)
type(a)

Hello
Hello

str

### Notes
1) The return type of input function is string (str).<br>
2)<b> Typecasting </b> - Changing from one data type to another is called typecasting.
    It ensures that data of only a specified data type can be accepted by the program
    and any other data type if entered by the user will throw an error.

In [143]:
text = input('Enter your name ')
print(text)
type(text)

Enter your name Aman
Aman

str

#### Accept only int from user

In [148]:
text = int(input('Enter a name: '))
print(text)
type(text)

Enter a name: 32423
32423

int

In [149]:
text = int(input('Enter a number '))
print(text)
print(type(text))

Enter a number Rahul

ValueError: invalid literal for int() with base 10: 'Rahul'

In [150]:
text = int(input('Enter a number '))
print(text)
print(type(text))

Enter a number 6.245

ValueError: invalid literal for int() with base 10: '6.245'

In [162]:
s1 = "98535"
print(s1)
print(type(s1))
s1_int = int(s1)
print(s1_int)
print(type(s1_int))

98535
<class 'str'>
98535
<class 'int'>

In [160]:
s1 = "Welcome 345"
print(s1)
print(type(s1))
s1_int = int(s1)
print(s1_int)
print(type(s1_int))

Welcome 345
<class 'str'>

ValueError: invalid literal for int() with base 10: 'Welcome 345'

In [166]:
g = float(input('Enter a number '))
print(g)
print(type(g))

Enter a number 3.23
3.23
<class 'float'>

In [167]:
# float accpets int as input but int cant accpet float as integer using input()
g = float(input('Enter a number '))
print(g)
print(type(g))

Enter a number 87
87.0
<class 'float'>

#### Q) Accpet a number from the user and print  -> 64
a) 50% of that number<br>
b) square root of that number<br>
c) cube root of that number<br>

In [181]:
num = int(input('Enter a number: '))
num_a = num//2
print(num_a)
num_b = num**0.5
print(num_b)
num_c = num**(0.333)
print(num_c)

Enter a number: 64
32
8.0
3.994458664404116

In [184]:
num = int(input('Enter a number '))
print(num//2)
print(num**0.5)
print(num**(1/3))

Enter a number 64
32
8.0
3.9999999999999996

In [176]:
import math

In [177]:
num = int(input('Enter a number: '))
num_a = num//2
print(num_a)
num_b = num**0.5
print(num_b)
num_c = math.ceil(num**(1/3))
print(num_c)

Enter a number: 64
32
8.0
4

In [192]:
w = "23.45"
print(w)
print(type(w))
w = float(w)
print(w)
print(type(w))
w = int(w)
print(w)
print(type(w))

23.45
<class 'str'>
23.45
<class 'float'>
23
<class 'int'>

In [191]:
r = int(input('Enter a number: '))
print(r)

Enter a number: 78
78

In [ ]:
#
1) variables
2) data types
3) operators
4) print()- end and sep
5) input()
6) Typecasting