### List
1) List are ordered collection of elements of same or different data types<br>
2) List elements are enclosed in square brackets [] and are separated by comma<br>
3) List is mutable (can be changed)<br>
4) Indexing and slicing is allowed in list<br>
5) List can store duplicate elements

### Examples of List, Tuple, Set, Dictionary

List => [12,23,45,'Welcome','India',True,23.56]

Tuple  => (10,20,'Hello',8.92,'False,'data science')

Set => {34,'Python',4.5,56,'SQL'}

Dict => {'Name':'Mohit','Age':21,'City':'Delhi'}

#### Creating Empty List (list containing no elements)

In [4]:
w1 = []      # Method-1
w2 = list()  # Method-2
print(w1)
print(w2)
print(type(w1))
print(type(w2))

[]
[]
<class 'list'>
<class 'list'>

#### Examples of List

In [10]:
a1 = [12,13,14,23,45,56,67]
a2 = ['Hello','Python',2.45,False,None,87]
print(a1)
print(len(a1))
print(a2)
print(len(a2))
type(a2)

[12, 13, 14, 23, 45, 56, 67]
7
['Hello', 'Python', 2.45, False, None, 87]
6

list

#### Indexing and Slicing in List

In [12]:
r = [10,15,20,25,30,35,40,45]
print(r)

[10, 15, 20, 25, 30, 35, 40, 45]

In [6]:
#### Indexing
print(r[0])
print(r[2])
print(r[6])
print(r[-1])
print(r[-4])

10
20
40
45
30

In [20]:
print(r)
print(r[3:-2])
print(r[-2:-8:-2])  
print(r[7:-7:-3])

[10, 15, 20, 25, 30, 35, 40, 45]
[25, 30, 35]
[40, 30, 20]
[45, 30]

#### Iteration in list

In [25]:
w = [12,23,34,45,56,67,78,89]
# Method 1 - Element wise Iteration
for pankaj in w:  # i corresponds to each and every element of the list
    print(pankaj)

12
23
34
45
56
67
78
89

In [31]:
w = [12,23,34,45]
# Method 2 - Index wise Iteration
for i in range(len(w)): # i = 0,1,2,3
    print(f'Element at index {i} is {w[i]}')
    
# i=0,w[0]=12
# i=1,w[1]=23
# i=2,w[2]=34
# i=3,w[3]=45

Element at index 0 is 12
Element at index 1 is 23
Element at index 2 is 34
Element at index 3 is 45

In [34]:
w = [12,23,34,45]
# Method 3 - Using while loop - Index wise iteration
i=0
while i <len(w):
    print(f'Element at index {i} is {w[i]}')
    i+=1

Element at index 0 is 12
Element at index 1 is 23
Element at index 2 is 34
Element at index 3 is 45

#### List is Mutable

In [36]:
q = [13,15,17,19,21,24,25]
print(q)
print(q[4])
q[4] = "Python"
print(q)
q[2] = 'SQL'
print(q)

[13, 15, 17, 19, 21, 24, 25]
21
[13, 15, 17, 19, 'Python', 24, 25]
[13, 15, 'SQL', 19, 'Python', 24, 25]

### Methods of List

#### 1) append()
It adds an element to the end of the list

In [54]:
s = ['Python',8,5,7]
print(s)
s.append(16)
print(s)
s.append(73)
print(s)

['Python', 8, 5, 7]
['Python', 8, 5, 7, 16]
['Python', 8, 5, 7, 16, 73]

In [55]:
s.append([11,12])
print(s)
print(len(s))

['Python', 8, 5, 7, 16, 73, [11, 12]]
7

In [56]:
s.append('Hello')
print(s)

['Python', 8, 5, 7, 16, 73, [11, 12], 'Hello']

In [57]:
w = [11,12,13]
print(w)
w.append([7,8])   # Append a list
print(w)
w.append((21,22)) # Appending a tuple
print(w)
w.append({'Name':'John','Age':22}) # appending a dict
print(w)

[11, 12, 13]
[11, 12, 13, [7, 8]]
[11, 12, 13, [7, 8], (21, 22)]
[11, 12, 13, [7, 8], (21, 22), {'Name': 'John', 'Age': 22}]

#### 2) extend()
It adds an element to the list at the end from an iterable (strings, list, tuple,set,dict,range())

In [58]:
d = [4,5,6,7]
print(d)
d.extend(10)
print(d)

[4, 5, 6, 7]

TypeError: 'int' object is not iterable

In [59]:
d = [4,5,6]
print(d)
d.extend([11,12])  # Extending a list
print(d)
d.extend((7,8))  # Extending a tuple
print(d)

[4, 5, 6]
[4, 5, 6, 11, 12]
[4, 5, 6, 11, 12, 7, 8]

In [66]:
w = [7,8,9]
print(w)
w.extend('Bye') # extending a string
print(w)
w.extend({'a1':10,'a2':20}) # extending a dict (only keys will be extended)
print(w)
w.extend(range(20,23)) # extending a range()
print(w)

[7, 8, 9]
[7, 8, 9, 'B', 'y', 'e']
[7, 8, 9, 'B', 'y', 'e', 'a1', 'a2']
[7, 8, 9, 'B', 'y', 'e', 'a1', 'a2', 20, 21, 22]

#### Difference between append extend

In [71]:
d = [4,5,6]
print(d)
d.append([11,12]) # Appending a list
print(d)
d.extend([7,8])   # Extending a list
print(d)
d.append("Hi") # Appending a list
print(d)
d.extend('Bye')   # Extending a list
print(d)
d.append({'a1':20}) # Appending a list
print(d)
d.extend({'Name':"Mohit"})   # Extending a list
print(d)

[4, 5, 6]
[4, 5, 6, [11, 12]]
[4, 5, 6, [11, 12], 7, 8]
[4, 5, 6, [11, 12], 7, 8, 'Hi']
[4, 5, 6, [11, 12], 7, 8, 'Hi', 'B', 'y', 'e']
[4, 5, 6, [11, 12], 7, 8, 'Hi', 'B', 'y', 'e', {'a1': 20}]
[4, 5, 6, [11, 12], 7, 8, 'Hi', 'B', 'y', 'e', {'a1': 20}, 'Name']

In [70]:
w = [17,18]
print(w)
w.extend([12,[34],80])
print(w)
w.append([30,[20],10])
print(w)

[17, 18]
[17, 18, 12, [34], 80]
[17, 18, 12, [34], 80, [30, [20], 10]]

#### 3) clear()
Empties the list

In [77]:
q = [12,13,114,15]
print(q)
q.clear()
print(q)

[12, 13, 114, 15]
[]

#### 4) insert(index,element)
Inserts an element at a specified index.<br>
Elements previously present at that index are shifted one index towards right

In [80]:
a1 = [13,14,15,16,17,18,19]
print(a1)
a1.insert(3,'Hello')
print(a1)
a1.insert(7,'Python')
print(a1)
a1.insert(12,'Bye')
print(a1)
a1.insert(-5,50)
print(a1)

[13, 14, 15, 16, 17, 18, 19]
[13, 14, 15, 'Hello', 16, 17, 18, 19]
[13, 14, 15, 'Hello', 16, 17, 18, 'Python', 19]
[13, 14, 15, 'Hello', 16, 17, 18, 'Python', 19, 'Bye']
[13, 14, 15, 'Hello', 16, 50, 17, 18, 'Python', 19, 'Bye']

#### 5) index()
Returns the index of the first occurence of the element from the left.
Indexes start at 0

In [90]:
a2 = ['Hi','Bye','Hello','Python','C++','Java','Hello','C++','@']
print(a2.index('Hello'))
print(a2.index('C++'))
print(a2.index('Bye'))

2
4
1

#### 6) pop(index)
Removes the element at the specified index. If no index is mentioned, it removes the last element

In [87]:
a = [23,34,45,56,67,78,90,15,10]
print(a)
a.pop(2) # Remove element present at index 2 
print(a)
a.pop(7) # Remove element present at index 7
print(a)
a.pop() # Removes the last element
print(a)
a.pop(-2)
print(a)
a.pop(-10)  # Index Error
print(a)

[23, 34, 45, 56, 67, 78, 90, 15, 10]
[23, 34, 56, 67, 78, 90, 15, 10]
[23, 34, 56, 67, 78, 90, 15]
[23, 34, 56, 67, 78, 90]
[23, 34, 56, 67, 90]

IndexError: pop index out of range

#### 7) remove(element)
It removes the first occurence of the element from left which is passed as argument. Error if element is not in the list

In [92]:
a = [23,34,45,56,67,78,90,15,10,34,78,56]
print(a)
a.remove(56) # Remove the element 56
print(a)
a.remove(90)
print(a)
# a.remove(108) # Error
# print(a)
# a.remove()   # Error
# print(a)

[23, 34, 45, 56, 67, 78, 90, 15, 10, 34, 78, 56]
[23, 34, 45, 67, 78, 90, 15, 10, 34, 78, 56]
[23, 34, 45, 67, 78, 15, 10, 34, 78, 56]

#### 8) count()
Returns the count(frequency) of the element passed as an argument

In [95]:
w = [23,34,45,23,13,24,35,56,67,45,34,23,23,67,78,89,90]
print(w.count(34))
print(w.count(23))
print(w.count('Hello'))
print(w.count(13))

2
4
0
1

#### 9) reverse()
It reverses the list. Arranges the list in right to left order

In [103]:
g = [10,20,30,40,50]
print(g)
g1 = g[::-1]
print(g1)
g.reverse()  # g[::-1]
print(g)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]

#### 10) sort()
Sorts the list in ascending or descening order based on the parameter reverse

In [108]:
s = [12,7,16,34,89,74,56]
print(s)
s.sort()             # ascending order
print(s)
s.reverse()          # descending order
print(s)

[12, 7, 16, 34, 89, 74, 56]
[7, 12, 16, 34, 56, 74, 89]
[89, 74, 56, 34, 16, 12, 7]

In [109]:
s = [12,7,16,34,89,74,56]
s.sort(reverse=True)
print(s)

[89, 74, 56, 34, 16, 12, 7]

In [116]:
s = [12,7,16,34,89,74,56]
s1 = s[1:-1]
s1.sort(reverse=True)
print(s1)

[89, 74, 34, 16, 7]

In [131]:
### ASCII - American Standard Code for Information Interchange
# A-Z - 65-90
# a-z = 97-122
# chr - character
print(chr(65))
print(chr(90))
print(chr(97))
print(chr(122))
print(chr(64))
print(chr(33))

A
Z
a
z
@
!

In [132]:
# ord - ordinal
print(ord('A'))
print(ord('Z'))
print(ord('a'))
print(ord('z'))

65
90
97
122

In [134]:
s = ['Hello','Python','Cricket','India','Zebra','Crypto']
print(s)
s.sort()
print(s)
s.sort(reverse=True)
print(s)

['Hello', 'Python', 'Cricket', 'India', 'Zebra', 'Crypto']
['Cricket', 'Crypto', 'Hello', 'India', 'Python', 'Zebra']
['Zebra', 'Python', 'India', 'Hello', 'Crypto', 'Cricket']

In [135]:
s = ['Hello','python','Cricket','India','zebra','Crypto']
print(s)
s.sort()
print(s)
s.sort(reverse=True)
print(s)

['Hello', 'python', 'Cricket', 'India', 'zebra', 'Crypto']
['Cricket', 'Crypto', 'Hello', 'India', 'python', 'zebra']
['zebra', 'python', 'India', 'Hello', 'Crypto', 'Cricket']

In [137]:
s = ['Welcome',86,'google',34,'India']
print(s)
s.sort()
print(s)

['Welcome', 86, 'google', 34, 'India']

TypeError: '<' not supported between instances of 'int' and 'str'

#### 11) copy()
Creates a copy of the list. The copied object is different from the actual object.

In [140]:
w = [5,7,9,11,13,15]
r1 = w.copy()        # shallow copy
r2 = w
print(w)
print(r1)
print(r2)

[5, 7, 9, 11, 13, 15]
[5, 7, 9, 11, 13, 15]
[5, 7, 9, 11, 13, 15]

In [141]:
w[2] = "Ritesh"
print(w)
print(r1)
print(r2)

[5, 7, 'Ritesh', 11, 13, 15]
[5, 7, 9, 11, 13, 15]
[5, 7, 'Ritesh', 11, 13, 15]

In [142]:
print(id(w),id(r1))
print(id(w),id(r2))

# 1) w and r1 are pointing to different obejcts
# 2) w and r2 are pointing to the same object
# 3) id returns the memory address

2832165848832 2832164515968
2832165848832 2832165848832

#### Methods min,max and sum

In [144]:
h = [12,13,15,25,10,40]
print(min(h))
print(max(h))
print(sum(h))

10
40
115

#### Using in, non in with list

In [146]:
r = [10,20,30,40,50]
print(34 in r)
print(40 in r)
print(52 not in r)
print(20 not in r)

False
True
True
False

#### Exercise

Q1) Create a list of elements by populating it with all the numbers divisilbe by 7 from 10 to 100<br>
Q2) Considering a list of int perform the following<br>
a) Fetch all the odd indexed numbers and store them in a separate list<br>
b) Fetch all the even numbers, sort them in descending order and store them in a separate list.<br>

In [147]:
# 1)
r = []
for i in range(10,101):
    if i%7==0:
        r.append(i)
print(r)
# i=14, r=[14]
# i=21, r=[14,21]
# i=28, r=[14,21,28]
# ...

[14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [149]:
r = []
for i in range(10,101):
    if i%7==0:
        r.append(i)
        print(r)

[14]
[14, 21]
[14, 21, 28]
[14, 21, 28, 35]
[14, 21, 28, 35, 42]
[14, 21, 28, 35, 42, 49]
[14, 21, 28, 35, 42, 49, 56]
[14, 21, 28, 35, 42, 49, 56, 63]
[14, 21, 28, 35, 42, 49, 56, 63, 70]
[14, 21, 28, 35, 42, 49, 56, 63, 70, 77]
[14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84]
[14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91]
[14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [151]:
t = [10,13,15,22,45,654,23,45,56]
res1 = []
for i in range(len(t)):  # i is the index 
    if i%2!=0:
        res1.append(t[i])  
print(res1)

[13, 22, 654, 45]

In [153]:
t = [10,13,15,22,45,654,23,45,56]
res1 = []
for i in range(1,len(t),2): #  start=1, end=9, step=2, i represents index
    res1.append(t[i])
print(res1)

[13, 22, 654, 45]

In [158]:
# Method-1
t = [10,13,15,22,45,654,23,45,56]
res2 = []
for i in range(len(t)):   # i corresponds to the index of each element
    if t[i]%2==0:
        res2.append(t[i])
res2.sort(reverse=True)
print(res2)

[654, 56, 22, 10]

In [159]:
# Method-2
t = [10,13,15,22,45,654,23,45,56]
res2 = []
for i in t:            # i corresponds to the list elements
    if i%2==0:
        res2.append(i)
res2.sort(reverse=True)
print(res2)

[654, 56, 22, 10]

#### List Comprehension
It is short hand syntax to create a list

In [156]:
t = [10,13,15,22,45,654,23,45,56]
print(t)
res1 = [t[i] for i in range(len(t)) if i%2!=0]
print(res1)

[10, 13, 15, 22, 45, 654, 23, 45, 56]
[13, 22, 654, 45]