#### Q19) 
A list containing multiple lists is given. Convert each inner list into sets and find the intersection of all the sets. Use reduce function.<br>
given_sets = [[7,3,12,45,78,13], [9,12,15,67,34,78], [19,20,78,12,25,95], [12,78,80,21,80], [13,14,12,15,16,75,76,77,78,79,80]]
Output: {12,78}

In [1]:
from functools import reduce

In [6]:
a = [[7,3,12,45,78,13], [9,12,15,67,34,78], 
     [19,20,78,12,25,95], [12,78,80,21,80], 
     [13,14,12,15,16,75,76,77,78,79,80]]

a_set = [set(i) for i in a] # list of sets
print(a_set)
res = reduce(set.intersection,a_set)
print(res)
print(type(res))

# Step1 -> s1={3, 7, 12, 45, 78, 13},s2={34, 67, 9, 12, 78, 15} => res_temp = {12,78} 
# Step2 -> s1 ={12,78} ,s2 ={12, 78, 19, 20, 25, 95} => res_temp ={12,78}
# Step3 -> s1 = {12,78}, s2= {80, 12, 21, 78} => res_temp ={12,78}
# Step4 ->

[{3, 7, 12, 45, 78, 13}, {34, 67, 9, 12, 78, 15}, {12, 78, 19, 20, 25, 95}, {80, 12, 21, 78}, {75, 12, 13, 14, 15, 16, 76, 77, 78, 79, 80}]
{12, 78}
<class 'set'>

#### 18) Find the cumulative average of the list [5,7,3,6,9,8] using accumulate() and list comprehension. Result should be upto 2 decimal places 
Sample Output<br>
[5.0, 6.0, 5.0, 5.25, 6.0, 6.33]

In [7]:
from itertools import accumulate

In [11]:
a = [5,7,3,6,9,8] 
a_cumsum = accumulate(a)
r = [i for i in a_cumsum]
print(r)

res = [round(r[i]/(i+1),2) for i in range(len(r))]
print(res)

[5, 12, 15, 21, 30, 38]
[5.0, 6.0, 5.0, 5.25, 6.0, 6.33]

In [ ]:
# w = list(range(1,7))
# res1 = list(map(lambda x,w: x/w,r))

#### Q16) Plaindrome

12321, 3443  - Palindrome numbers<br>
23534   - non palindrome number

In [2]:
def palin(n):
    temp = n
    pal = 0
    while temp>0:
        rem = temp%10
        pal = pal*10 + rem
        temp //= 10
    if pal==n:
        print(f'{n} is plaindrome no.')
    else:
        print(f'{n} is not a plaindrome no.')
        
palin(12321)
# palin(67324)
# temp=12321, pal=0
# S1 -> rem=12321%10 = 1, pal = 0*10 + 1 = 1, temp=12321//10 = 1232
# S2 -> rem=1232%10 = 2, pal = 1*10 + 2 = 12, temp=1232//10 = 123
# S3 -> rem=123%10 = 3, pal = 12*10 + 3 = 123, temp=123//10 = 12
# S4 -> rem=12%10 = 2, pal = 123*10 + 2 = 1232, temp=12//10 = 1
# S4 -> rem=1%10 = 1, pal = 1232*10 + 1 = 12321, temp=1//10 = 0

12321 is plaindrome no.
67324 is not a plaindrome no.

In [6]:
def prime_check(n):
    c=0
    for i in range(1,n+1):
        if n%i==0:
            c += 1
    if c==2:
        print(f'{n} is Prime')
    else:
        print(f'{n} is not Prime')

prime_check(5)
prime_check(8)
prime_check(27)

5 is Prime
8 is not Prime
27 is not Prime

In [9]:
def prime_between(n1,n2):
    n1,n2 = min(n1,n2),max(n1,n2)
    prime=[]
    for i in range(n1,n2): # i = 20,21,22,....39
        c=0
        for j in range(1,i+1):  # when i=20,j=1..,20
            if i%j==0:
                c+=1
        if c==2:
            prime.append(i)
    print(prime)
    
prime_between(20,40)
prime_between(50,20)

[23, 29, 31, 37]
[23, 29, 31, 37, 41, 43, 47]

In [14]:
def prime_between(n1,n2): # 20,40
    n1,n2= min(n1,n2),max(n1,n2)
    prime=[]
    for i in range(n1,n2+1): # i=20,....40
        if i>1:
            for j in range(2,i): # j=2,...19
                if i%j==0:
                    break
            else:
                prime.append(i)
    print(prime)
    
prime_between(20,50)
prime_between(50,20)

[23, 29, 31, 37, 41, 43, 47]
[23, 29, 31, 37, 41, 43, 47]

In [16]:
def kprime_less_than_n(k,n): # this ques sis incomplete
    prime=[]
    for i in range(k,n+1):
        if i>1:
            for j in range(2,i):
                if i%j==0:
                    break
            else:
                prime.append(i)
    print(prime[-k:])
    
kprime_less_than_n(7,78)

[47, 53, 59, 61, 67, 71, 73]