#### Python Inbuilt Functions
1) Lambda<br>
2) map<br>
3) reduce<br>
4) filter<br>
5) enumerate<br>
6) zip<br>
7) sorted

#### 1) lambda 
1) It is used to create anonymous function( a function with no name)<br>
Syntax:<br>
<b>lambda parameters : expressions</b><br>
2) We create lambda functions to write one-liner function

In [2]:
r = lambda x,y : x+y
print(r(3,4)) # x=3,y=4
print(r(6,7)) # x=6,y=7

7
13

In [4]:
t = lambda a,b,c : (a+b)**c
print(t(3,4,2))
print(t(5,6,3))

49
1331

In [7]:
r = lambda x,y : x+y
print(r(3,4))       # 7
print(type(r(3,4))) # int
print(r(3.5,4.2))   # 7.7      
print(type(r(3.5,4.2))) # float
print(r('Hello',' World'))  # Hello World
print(type(r('Hello',' World'))) # str
print(type(r))
print(r)

7
<class 'int'>
7.7
<class 'float'>
Hello World
<class 'str'>
<class 'function'>
<function <lambda> at 0x0000025DEEF58AF0>

In [13]:
#### Find initials of the name
w = lambda fn,ln : fn[0].upper()+"."+ln[0].upper()
print(w('elon','musk'))
print(w(['Elon'],['Musk']))

E.M
ELON.MUSK

#### Using if-else in lambda

In [15]:
mod = lambda x : x-2 if(x >= 0) else x+2
print(mod(4))
print(mod(-3))

2
-1

In [16]:
r = lambda x : x**2 if(x>5) else x+3
print(r(7))
print(r(4))

49
7

In [ ]:
### If-elif-else

In [20]:
r = lambda x : x+3 if x>0 and x<=5 else (x+5 if x>5 and x<10 else x+10)
print(r(3))  # 3+3
print(r(9))  # 9+5
print(r(-4)) # -4+10
print(r(12)) # 12+10

# 1) x>0 and x<=5  => x+3
# 2) x>5 and x<10 => x+5
# 3) else x+10

6
14
6
22

#### Syntax of Map,Filter and Reduce
map(function,iterable)  -> <br>
filter(function,iterable) -><br>
reduce(function,iterable) -> <r>

#### 2) map()
1) map() calls the specified function for each item of an iterable(list,string,tuple,dict etc) and returns a sequence of results.<br>
2) This sequence needs to be converted to preferably either list or tuple<br>
3) lambda can be used inside map

Syntax : map(function,iterable)

In [24]:
def square(x):
    return x*x

w = [1,2,3,4,7]
d = tuple(map(square,w))
print(d)

(1, 4, 9, 16, 49)

In [26]:
r = [10,12,14,16,18]
d1 = list(map(lambda x : x+5,r))
print(d1)

[15, 17, 19, 21, 23]

In [29]:
r = [10,12,14,16,18]
d1 = map(lambda x : x+5,r)
print(d1)
# x = 5

<map object at 0x0000025DEEF89280>

In [28]:
for i in d1:
    print(i)

15
17
19
21
23

In [ ]:
r = [10,12,14,16,18]
d1 = list(map(lambda x : x+5,r))
print(d1)
# x=12,14,16,18

In [ ]:
# int, str, float, bool,complex
# list, tuple

In [31]:
r = input('Enter list elements')
print(r)
print(type(r))

Enter list elements12 13 14
12 13 14
<class 'str'>

#### Q) Accpet a list of integers from the user using map function

In [34]:
d1 = list(map(int,input()))
print(d1)

123
[1, 2, 3]

In [35]:
d1 = list(map(int,input()))
print(d1)

1 2 3 4

ValueError: invalid literal for int() with base 10: ' '

In [36]:
d2 = list(map(int,input().split()))
print(d2)

5 4 12 34 23
[5, 4, 12, 34, 23]

In [37]:
d2 = list(map(float,input().split()))
print(d2)

12.34 45.56 34.78
[12.34, 45.56, 34.78]

In [4]:
d2 = tuple(map(int,input().split()))
print(d2)

12 23 45 56 67 78
(12, 23, 45, 56, 67, 78)

In [39]:
d2 = list(map(str,input().split()))
print(d2)

hello python
['hello', 'python']

#### 3) filter()
Returns an iterator yielding those items from the iterable for which the function is True

Syntax : filter(function,iterable)

In [47]:
g = [12,13,14,15,16,17,18,19,20]
s1 = list(filter(lambda x : x%2!=0,g))
print(s1)

[13, 15, 17, 19]

In [46]:
g = [12,13,14,15,16,17,18,19,20]
s2 = list(filter(lambda x : x>17,g))
print(s2)

[18, 19, 20]

#### 4) reduce()
Reduce function reuduces the iterable to a single value using the function passed.<br>
The function passed has to contain 2 parameters<br>

syntax : reduce(function,iterator)

In [55]:
# functools is the library, reduce is the function or method 
from functools import reduce

In [53]:
b = [1,2,3,4,5]
t = reduce(lambda x,y : x+y,b)
print(t)

# S1 -> x=1,y=2 => x+y=3
# S2 -> x=3,y=3 => x+y=6
# S3 -> x=6,y=4 => x+y=10
# S4 -> x=10,y=5 => x+y=15

15

In [54]:
t1 = reduce(lambda p,q: p*q,b)
print(t1)

120

#### 5) enumerate()
1) It adds an extra counter to the iterables<br>
2) Counter added to the list and tuple can be used as their index provided start = 0<br>
3) Counter added to set should not be considered as index

In [70]:
d = [10,20,30,40,50]
for i in d:   # element wise iteration
    print(i)

10
20
30
40
50

In [71]:
d = [10,20,30,40,50]
for i in range(len(d)):   # index wise iteration
    print(d[i])

10
20
30
40
50

In [74]:
# i is the extra counter generated, j is the list elements
d = [10,20,30,40,50]
for i,j in enumerate(d): 
    print(i,j,d[i])

0 10 10
1 20 20
2 30 30
3 40 40
4 50 50

In [69]:
d = [10,20,30,40,50]
for i,j in enumerate(d,start=3): 
    print(i,j)
    
# i=3, j=10, d[3]=40
# i=4, j=20, d[4]=50
# i=5, j=30, d[5]=???

3 10
4 20
5 30
6 40
7 50

In [75]:
d = (11,12,13,14,15)
for x,y in enumerate(d): # x is the extra counter generated, y is the tuple elements
    print(x,y,d[x])

0 11 11
1 12 12
2 13 13
3 14 14
4 15 15

In [79]:
d = {'a1':10,'a2':20,'a3':30}
for count, keys in enumerate(d):
    print(count,keys,d[keys])
    
# count = counter element generated
# keys = keys of the dict
# d[keys] = values

0 a1 10
1 a2 20
2 a3 30

In [81]:
d = {'a1':10,'a2':20,'a3':30}
for i, j in enumerate(d.keys()):
    print(i,j,d[j],d.get(j))

0 a1 10 10
1 a2 20 20
2 a3 30 30

In [83]:
d = {'a1':10,'a2':20,'a3':30}
for i, j in enumerate(d.values()):
    print(i,j)

0 10
1 20
2 30

In [84]:
d = {'a1':10,'a2':20,'a3':30}
for i, j in enumerate(d.items()):
    print(i,j)

0 ('a1', 10)
1 ('a2', 20)
2 ('a3', 30)

#### 6) zip()
1) It aggregates (two or more) elements into tuple pairs except dict

In [31]:
d1 = ['a','b','c','d','e']
d2 = [3,4,5,6,7]

r1 = list(zip(d1,d2))
r2 = tuple(zip(d1,d2))
r3 = set(zip(d1,d2))
r4 = dict(zip(d1,d2))  # pairs are aggregated as key-value
print(r1)
print(r2)
print(r3)
print(r4)

[('a', 3), ('b', 4), ('c', 5), ('d', 6), ('e', 7)]
(('a', 3), ('b', 4), ('c', 5), ('d', 6), ('e', 7))
{('a', 3), ('c', 5), ('e', 7), ('b', 4), ('d', 6)}
{'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7}

In [33]:
d1 = ['a','b','c','d','e']
d2 = [3,4,5]

r1 = list(zip(d1,d2))
r2 = tuple(zip(d1,d2))
r3 = set(zip(d1,d2))
r4 = dict(zip(d1,d2))  # pairs are aggregated as key-value
print(r1)
print(r2)
print(r3)
print(r4)

[('a', 3), ('b', 4), ('c', 5)]
(('a', 3), ('b', 4), ('c', 5))
{('a', 3), ('b', 4), ('c', 5)}
{'a': 3, 'b': 4, 'c': 5}

#### 7) sorted()
Sort the elements apssed as agrument

In [32]:
w = [12,14,10,9,15,13]
r1 = sorted(w)
r2=  sorted(w,reverse=True)
print(r1)
print(r2)

[9, 10, 12, 13, 14, 15]
[15, 14, 13, 12, 10, 9]

In [40]:
d = {'a1':10,'a2':8,'a3':15,'a4':25}
d1 = sorted(d.keys())
d2 = sorted(d.keys(),reverse=True)
d3 = sorted(d.values())
d4 = sorted(d.values(),reverse=True)
print(d1)
print(d2)
print(d3)
print(d4)

['a1', 'a2', 'a3', 'a4']
['a4', 'a3', 'a2', 'a1']
[8, 10, 15, 25]
[25, 15, 10, 8]

#### Sort a dict by value

In [48]:
d = {'a1':10,'a3':8,'a4':15,'a2':25}
r1 = sorted(d.items(), key=lambda x: x[1]) # sorted in increasing order of values
print(r1)
r2 = sorted(d.items(), key=lambda x: x[1], reverse=True) # sorted in increasing order of values
print(r2)
r3 = dict(sorted(d.items(), key=lambda x: x[1])) # sorted in increasing order of values
print(r3)

[('a3', 8), ('a1', 10), ('a4', 15), ('a2', 25)]
[('a2', 25), ('a4', 15), ('a1', 10), ('a3', 8)]
{'a3': 8, 'a1': 10, 'a4': 15, 'a2': 25}

In [49]:
print(d.items())

dict_items([('a1', 10), ('a3', 8), ('a4', 15), ('a2', 25)])

In [50]:
r1 = dict(sorted(d.items(), key=lambda x: x[0]))
print(r1)

{'a1': 10, 'a2': 25, 'a3': 8, 'a4': 15}

#### Accept a dict as user input

In [19]:
d=dict(input().split() for x in range(3))
print(d)

10 Python
20 SQL
30 Stats
{'10': 'Python', '20': 'SQL', '30': 'Stats'}

In [40]:
import pymysql
# ModuleNotFoundError