### Set
1) It is unordered collection of elements of same or different data types<br>
2) Set elements are represented in {} and are aseparated by comma<br>
3) Set does not suport indexing or slicing (as it is unordered)<br>
4) Set does not allow duplicate elements<br>
5) Set is mutable(it can be changed)

#### Empty Set

In [28]:
s1 = set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [29]:
s2 = {}
print(s2,type(s2))

{} <class 'dict'>

In [31]:
q1 = {12,13,14,15}
q2 = {'India','Japan','Australia',45,56,67,7.8,None,True}
print(q1,len(q1))
print(q2,len(q2))

{12, 13, 14, 15} 4
{'Japan', True, 67, 7.8, None, 45, 'Australia', 'India', 56} 9

#### Indexing and Slicing not allowed

In [32]:
z1 = {10,11,23,34,45,56}
print(z1[0])

TypeError: 'set' object is not subscriptable

In [34]:
print(z1[2:5])

TypeError: 'set' object is not subscriptable

#### Iteration in Sets

In [35]:
z1 = {10,11,23,34,45,56}
for i in z1:
    print(i)

34
10
11
45
23
56

In [36]:
z1 = {10,11,23,34,45,56}
for i in range(len(z1)):
    print(z1[i])

TypeError: 'set' object is not subscriptable

In [37]:
z1 = {10,11,23,34,45,56}
i=0
while i< len(z1):
    print(z1[i])
    i += 1

TypeError: 'set' object is not subscriptable

#### Duplicates are not allowed in Sets

In [38]:
d1 = {5,4,6,7,3,2,4,5,6,4,3,3}
print(d1)

{2, 3, 4, 5, 6, 7}

### Set methods

#### 1) union()
Perform union of Sets,Works for multiple sets as well

In [41]:
s1 = {5,6,7,8,9}
s2 = {1,3,5,7,10}
s3 = {11,0,12}
print(s1.union(s2))
print(s1.union(s2,s3))

{1, 3, 5, 6, 7, 8, 9, 10}
{0, 1, 3, 5, 6, 7, 8, 9, 10, 11, 12}

#### 2) intersetcion()
Perform intersection of Sets, Works for multiple sets as well.<br>
Returns common element from the sets used

In [43]:
s1 = {5,6,7,8,9}
s2 = {1,3,5,7,10}
s3 = {11,0,12,5}
print(s1.intersection(s2))
print(s1.intersection(s2,s3))

{5, 7}
{5}

#### 3) difference()
s1.diifernce(s2) => Returns the elements of s1 which are not present in s2

In [48]:
s1 = {5,6,7,8,9}
s2 = {1,3,5,7,10}
s3 = {11,0,12,5}
print(s1.difference(s2))
print(s2.difference(s3))

{8, 9, 6}
{1, 10, 3, 7}

#### 4) Symmetric difference
s1.symmetric_difference(s2) => Difference operation between union and intersetcion

In [51]:
s1 = {5,6,7,8,9}
s2 = {1,3,5,7,10}
s3 = {11,0,12,5}
s4 = s1.union(s2)
s5 = s1.intersection(s2)
s6 = s1.symmetric_difference(s2)
print('Union',s4)
print('Intersection',s5)
print('----------')
print(s4.difference(s5))
print(s6)

Union {1, 3, 5, 6, 7, 8, 9, 10}
Intersection {5, 7}
----------
{1, 3, 6, 8, 9, 10}
{1, 3, 6, 8, 9, 10}

#### 5) update()
It also performs union of sets. But the set on which update operation has been performed is updated iwth the union of sets. Works with multiple sets as well

In [52]:
s1 = {5,6,7,8,9}
s2 = {1,3,5,7,10}
s3 = {11,0,12,5}
print(s1)
print(s2)
print(s3)
s1.update(s2)
print(s1)
print(s2)
print(s3)

{5, 6, 7, 8, 9}
{1, 3, 5, 7, 10}
{0, 11, 12, 5}
{1, 3, 5, 6, 7, 8, 9, 10}
{1, 3, 5, 7, 10}
{0, 11, 12, 5}

#### 6), 7) 8)
<b>intersetcion_update() </b>- Updates the set with the intersection result<br>
<b>difference_update() </b>- Updates the set with the difference result<br>
<b>symmetric_difference_update() </b>- Updates the set with the symmetric_difference result

In [53]:
s1 = {5,6,7,8,9}
s2 = {1,3,5,7,10}
s3 = {11,0,12,5}
print(s1)
print(s2)
print(s3)
s1.intersection_update(s2)
print(s1)
print(s2)
print(s3)

{5, 6, 7, 8, 9}
{1, 3, 5, 7, 10}
{0, 11, 12, 5}
{5, 7}
{1, 3, 5, 7, 10}
{0, 11, 12, 5}

In [55]:
s1 = {5,6,7,8,9}
s2 = {1,3,5,7,10}
s3 = {11,0,12,5}
print(s1)
print(s2)
print(s3)
s1.difference_update(s2) # elements which are member of s1 and but a meneber of s2 
print(s1)
print(s2)
print(s3)

{5, 6, 7, 8, 9}
{1, 3, 5, 7, 10}
{0, 11, 12, 5}
{6, 8, 9}
{1, 3, 5, 7, 10}
{0, 11, 12, 5}

In [56]:
s1 = {5,6,7,8,9}
s2 = {1,3,5,7,10}
s3 = {11,0,12,5}
print(s1)
print(s2)
print(s3)
s1.symmetric_difference_update(s2)
print(s1)
print(s2)
print(s3)

{5, 6, 7, 8, 9}
{1, 3, 5, 7, 10}
{0, 11, 12, 5}
{1, 3, 6, 8, 9, 10}
{1, 3, 5, 7, 10}
{0, 11, 12, 5}

#### 9) pop()
Remove and return an arbitrary set element.

In [58]:
s1 = {5,6,7,8,9,'Hello','Python',True,10,12}
print(s1)
s1.pop()
print(s1)
print(s1.pop())
print(s1)
s1.pop()
print(s1)
s1.pop()
print(s1)

{True, 5, 6, 7, 8, 9, 'Hello', 'Python', 10, 12}
{5, 6, 7, 8, 9, 'Hello', 'Python', 10, 12}
5
{6, 7, 8, 9, 'Hello', 'Python', 10, 12}
{7, 8, 9, 'Hello', 'Python', 10, 12}
{8, 9, 'Hello', 'Python', 10, 12}

#### 10) add()
It adds an element to the set

In [63]:
s1 = {23,45,56,'India','Python',False,89,90,91}
print(s1)
s1.add('Messi')
print(s1)
s1.add('Neymar')
print(s1)
s1.add(100)
print(s1)
s1.add(56.34)
print(s1)

{False, 'Python', 45, 'India', 23, 56, 89, 90, 91}
{False, 'Python', 45, 'Messi', 'India', 23, 56, 89, 90, 91}
{False, 'Neymar', 'Python', 45, 'Messi', 'India', 23, 56, 89, 90, 91}
{False, 100, 'Neymar', 'Python', 45, 'Messi', 'India', 23, 56, 89, 90, 91}
{False, 56.34, 100, 'Neymar', 'Python', 45, 'Messi', 'India', 23, 56, 89, 90, 91}

#### 11) clear()
Empties the set

In [65]:
s1 = {15,16,17,18}
print(s1)
s1.clear()
print(s1)

{16, 17, 18, 15}
set()

#### 12) remove()
used to remove an element from the set

In [67]:
s1 = {10,20,30,40,50}
print(s1)
s1.remove(30)
print(s1)
s1.remove(20)
print(s1)

{40, 10, 50, 20, 30}
{40, 10, 50, 20}
{40, 10, 50}

#### min, max and sum on set and tuple

In [68]:
t1 = (10,30,15,46,23)
print(min(t1))
print(max(t1))
print(sum(t1))

10
46
124

In [69]:
s1 = {10,30,15,46,23}
print(min(t1))
print(max(t1))
print(sum(t1))

10
46
124