#### Tuples

1) Tuple elements are represented in () and the elements are separated by comma.<br>
2) Tuple is also an ordered collection of elements of same or different data types<br>
3) Tuple is Immutable(cant be changed)<br>
4) Indexing and slicing is allowed<br>
5) Dupliacte elements are allowed<br>

#### Create Empty Tuples

In [3]:
t1 = ()
t2 = tuple()
print(t1)
print(t2)
print(type(t1))
print(type(t2))

()
()
<class 'tuple'>
<class 'tuple'>

In [7]:
w1 = (12,13,14,15,56,13)
w2 = ('Hello',False,67.23,34,None)
print(w1,len(w1))
print(w2,len(w2))

(12, 13, 14, 15, 56, 13) 6
('Hello', False, 67.23, 34, None) 5

#### Tuple Indexing and Slicing
Indexing and slicing follows the same pattern as with lists

In [10]:
q1 = (10,14,12,14,15,16,17)
print(q1[0])
print(q1[4])
print(q1[-1])
print(q1[-2])

10
15
17
16

In [13]:
print(q1)
print(q1[3:6])
print(q1[-1:-6:-2])
print(q1[-1::-2])

(10, 14, 12, 14, 15, 16, 17)
(14, 15, 16)
(17, 15, 12)
(17, 15, 12, 10)

#### Iteration in Tuple
Is is also same like that of list

In [15]:
r1 = (10,20,30,40,50)
# Method 1, Element wise iteration
for i in r1:  # i corresponds to each element of the tuple r1
    print(i)

10
20
30
40
50

In [18]:
r1 = (10,20,30,40,50)
# Method 2, Index wise iteration
for i in range(len(r1)):  # i corresponds to the tuple index
    print(i,r1[i])

0 10
1 20
2 30
3 40
4 50

In [22]:
r1 = (10,20,30,40,50)
# Method 3, using while loop
i = 0
while i <len(r1):
    print(r1[i])
    i += 1

10
20
30
40
50

#### Tuple is Immutable

In [25]:
a1 = ('Hello',45,23.89,'Python','Java','AWS')
print(a1)
print(a1[4])
a1[4] = 'Azure'
print(a1)

('Hello', 45, 23.89, 'Python', 'Java', 'AWS')
Java

TypeError: 'tuple' object does not support item assignment

#### Tuple Methods

1) <b>index(element)</b> - Returns the index of the first occurence of the element from the left

2) <b>count(element)</b> - Returns the count of the element passed as argument

In [26]:
a = (10,20,30,40,50,15,10,20,30,20,40,20,25)
print('Index method')
print(a.index(20))
print(a.index(50))
print(a.index(15))

print('Count method')
print(a.count(20))
print(a.count(30))
print(a.count(15))

Index method
1
4
5
Count method
4
2
1

#### Make changes to a tuple

In [30]:
e_name = ('Ankit','Harsh','Shreya','Mahima','Mohit')
e_name = list(e_name)
e_name[3] = 'Ujjwal'
e_name = tuple(e_name)
print(e_name)

('Ankit', 'Harsh', 'Shreya', 'Ujjwal', 'Mohit')

In [32]:
e_name = ('Ankit','Harsh','Shreya','Mahima','Mohit')
e_name = list(e_name)
e_name.insert(3,'Ujjwal')
print(e_name)

['Ankit', 'Harsh', 'Shreya', 'Ujjwal', 'Mahima', 'Mohit']

### Comprehensions
We can have list, set an dict comprehensions

#### List Comprehension
It is a shorthand syntax to create a list

In [1]:
r = []
for i in range(1,7):
    r.append(i)
print(r)

[1, 2, 3, 4, 5, 6]

In [34]:
r = [i for i in range(1,7)]
print(r)

[1, 2, 3, 4, 5, 6]

In [36]:
r = [i**2 for i in range(1,7)]
print(r)

[1, 4, 9, 16, 25, 36]

In [37]:
r = []
for i in range(1,10): # i=1,2,3,...,9
    if i%2==0:
        r.append(i)
print(r)

[2, 4, 6, 8]

#### If in list comprehension

In [39]:
r = [i for i in range(1,10) if i%2==0]
print(r)

[2, 4, 6, 8]

#### if-else using List comprehension

In [40]:
r = []
for i in range(1,10):
    if i%2==0:
        r.append(i+3)
    else:
        r.append(i-3)
print(r)

[-2, 5, 0, 7, 2, 9, 4, 11, 6]

In [41]:
r = [i+3 if i%2==0 else i-3 for i in range(1,10)]
print(r)

[-2, 5, 0, 7, 2, 9, 4, 11, 6]

In [42]:
w = [i*2 if i%3==0 else i//2 for i in range(5,50,5)]
 # i = 5,10,15,20,25,30,35,40,45,50
print(w) # [2,5,30,10,12,60,17,20,90]

[2, 5, 30, 10, 12, 60, 17, 20, 90]

#### Using nested for loop inside list comprehension

In [43]:
d = []
for i in range(5,10):  # i=5,6,7,8,9
    for j in range(3,7):  # 3,4,5,6
        if (i+j)%3==0:
            d.append(i*j)
print(d)

# i=5, j=3 i+j=8,not appended
# i=5, j=4, i+j=9,append = 20
# i=5,j=5, i+j=10,not appended
# i=5,j=6, i+j=11,not appended

[20, 18, 36, 35, 32, 27, 54]

In [45]:
res = [i*j for i in range(5,10) for j in range(3,7) if (i+j)%3==0]
print(res)

[20, 18, 36, 35, 32, 27, 54]

#### Dict Comprehension
It is a shorthand syntax to create a dict

In [46]:
d = {i*2 : i+5 for i in range(1,4)} # i=1,2,3
print(d)

{2: 6, 4: 7, 6: 8}

In [48]:
d1 = {i: i**3 for i in range(5,9) if i%2==0}
print(d1)

{6: 216, 8: 512}

In [50]:
# ASCII numbers
# A-Z = 65-90
# a-z = 97-122
print(chr(65))
print(ord('A'))

A
65

In [56]:
res1 = {ord(i) : i.lower() for i in "ABCD"}
res2 = {i : ord(i) for i in "ABCD"}
print(res1)
print(res2)

{65: 'a', 66: 'b', 67: 'c', 68: 'd'}
{'A': 65, 'B': 66, 'C': 67, 'D': 68}

#### Q) Using Dict comprehension
1) Populate a dict with the lower case vowles as the keys and 
the corresponding ACSII number of the upper case vowels using dict comprehension

Q2) d = [12,23,34,23,12,12,45,34,45,56,34,34,23,12,56]
Count the elements of the list using a dict where the keys are list elements,
and the count should be their values.
The result should be like:
{12:4,23:3,34:4,45:2,56:2}

2) names = ['A','B','C','B','D','A','C','B','D','D','B','A','C','B','D]<br>
marks = [87,95,80,72,68,83,57,64,89,95,91,80,70,74,73]
Find the sum of marks of the students and display them as a dict.<br>
{'A':sum_of_A_marks ,'B':sum_of_B_marks,'C':sum_of_C_marks, 'D':sum_of_D_marks}

In [59]:
names = ['A','B','C','B','D','A','C','B','D','D','B','A','C','B','D']
marks = [87,95,80,72,68,83,57,64,89,95,91,80,70,74,73]
print(len(names),len(marks))

15 15

In [ ]:
# Dummy  
# {'A':234,'B':313,'C':340,'D':343}