### Seaborn

1) It is built on top of Matplotlib<br>
2) Allows comparison between multiple variables<br>
3) Supports univariate and bivariate visualization<br>
4) Provides support for different color palettes<br>
5) Estimates and plots linear regression line<br>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
df.shape

(1000, 8)

In [4]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [5]:
df.rename(columns=({'gender':'Gender','race/ethnicity':'Race_Eth'
                     ,'parental level of education':'PLEC'
                     ,'lunch':'Lunch','test preparation course':'TPC'
                      ,'math score':'MS','reading score':'RS'
                     ,'writing score':'WS'}),inplace=True)

In [6]:
df.head()

   Gender Race_Eth                PLEC         Lunch        TPC  MS  RS  WS
0  female  group B   bachelor's degree      standard       none  72  72  74
1  female  group C        some college      standard  completed  69  90  88
2  female  group B     master's degree      standard       none  90  95  93
3    male  group A  associate's degree  free/reduced       none  47  57  44
4    male  group C        some college      standard       none  76  78  75

In [7]:
df.columns

Index(['Gender', 'Race_Eth', 'PLEC', 'Lunch', 'TPC', 'MS', 'RS', 'WS'], dtype='object')

### Seaborn Charts/Plots
1) Countplot<br>
2) Displot<br>
3) Violinplot<br>
4) Boxplot<br>
5) Stripplot<br>
6) Swarmplot<br>
7) Jointplot<br>
8) Pairplot<br>
9) Heatmap<br>

### Countplot

1) It is similar to bar chart. It shows the counts of observations in each categorical bin using bars.

#### Q1) Depict Race_Eth on a countplot

#### Q2) Depict Gender on a counplot

#### Q3) Depict Count of Race_Eth based on Gender on a barchart/countplot

### Displot
1) Is displays the distribution of the data<br>
2) It is smoothed out continous version of histogram called KDE.<br>

#### Q4) Depict Math Score on a distribution plot

#### Q5) Depict the distribution of Math vs Reading Score

### ViolinPlot
1) Violinplot is equivalent to Boxplot + KDE (Kernel Density Estimate)<br>
2) It shows discription of quantitative data across categorical variables such that those distributions can be compared.<br>
3) It can be divided into two halves using the strip parameter

#### Q6) Depict Math Score on a BoxPlot

#### Q7) Depict Math Score on a violin plot

#### Q8) Depict Race Ethnicity vs Math Score on a Violin Plot

#### Q9) Depict Race Ethnicity vs Math Score based on gender on a Violin Plot

#### Q10) Depict Race_Eth vs Reading Score based on Lunch preference on a violin plot splitting the distribution in halves

### Strip Plot
1) It is similar to scatter plot with one categorical variable<br>
2) Used to understand the underlying distribution of data<br>
3) One axis represents categorical variable. Other axis represents the values corresponding to those categories

#### 11) Depict Gender vs Reading Score on a Strip Plot

#### 12) Depict Parental Level of Education vs Wrting Score on a Strip Plot

#### 13) Depict Parental Level of Education vs Wrting Score on a Strip Plot based on Gender

### SwarmPlot
1) It is a combination of strip and violin plot<br>
2) The points are adjusted suhc that they dont overlap (except for left and right boundaries)
which gives better representation of data.

#### Q14) Depict  Parental level of education vs writing Score on a swarm plot

#### Q15) Depict Parental Level of Education vs Writing Score on a SwarmPlot based on Gender

### HeatMap
1) It is a 2Dimensional graphical representation of data where values contained in matrix are represented in different colors.<br>
2) It is mostly used to depict Correlation values and confusion Matrix

#### 16) Depict correlation values on a heatmap

### JointPlot

1) It represents scatter chart information along with frequency distribution<br>
2) hue paramter is not present in jointplot

#### 17) Depict Math Score vs Reading Score on a jointplot

#### 18) Depict Writing Score vs Reading Score on a jointplot

#### 18) Depict Writing Score vs Reading Score on a Jointplot

### Pairplot

1) Plot pairwise relationships in a dataset for numerical columns only<br>
2) piarplot() creates a square matrix of plots, where diagonal plots represents univariate distribution of each variable (histogram/ distribution plot/KDE plot) whereas other plots represent
scatter plot of the pair of variables

#### 19) Depict Student's performance data on a Pairplot

#### 20) Depict Student's performance data on a Pairplot based on gender

#### Q21) Depict Math Score and Reading Score on a pairplot

### Boxplot
1) It represents 5 point summary (min,Q1,Q2,Q3,max)

#### Q22) Depict Race_Eth vs Math Score on a boxplot

#### Q23) Depict Race_Eth vs Math Score on a boxplot based on Gender