### Multiple Linear Regression

1)	Multiple linear regression is used to estimate the relationship between two or more independent variables and one dependent variable. <br>

2)	It has an equation of the form <b>y = m1x1 + m2x2 + m3x3 +â€¦..+ mnxn + c </b><br>
where:-<br>
x1,x2,x3,...,xn = independent variables/ input features<br>
y = dependent variable / output feature<br>
m1,m2,m3...,mn = coefficients/slope  corresponding to x1 - xn             
c = intercept / constant / bias<br>

#### General Protocol for a Regression Model - using sklearn
1) ML model will not accept any null value<br>
2) ML will not accept datatypes other than int or float<br>
3) x(independent variable) has to be a DataFrame or a 2D numpy array or a 2D list.<br>
4) y(dependent variable) has to be a Series or a 1D numpy array or a 1D list.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv('50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

#### Problem Statement - Based on R&D Spend, Administration, Marketing Spend and State, predict the values of Profit using Linear Regression

In [21]:
df.shape

(50, 5)

In [22]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [23]:
df.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [24]:
df['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [25]:
df['State'].value_counts()

New York      17
California    17
Florida       16
Name: State, dtype: int64

### Methods of Encoding Categorical Data

In [26]:
df1 = df.copy()
df1.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

#### 1) replace()

In [27]:
df1['State'] = df1['State'].replace({'New York':0,'California':1,'Florida':2})
df1['State'].value_counts()

0    17
1    17
2    16
Name: State, dtype: int64

In [28]:
df1.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State                int64
Profit             float64
dtype: object

In [29]:
df.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

#### LabelEncoder()

In [31]:
df2 = df.copy()
df2.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [30]:
from sklearn.preprocessing import LabelEncoder

In [32]:
lb = LabelEncoder()
df2['State'] = lb.fit_transform(df2['State'])

In [33]:
df2['State'].value_counts()

0    17
2    17
1    16
Name: State, dtype: int64

In [34]:
df2.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State                int32
Profit             float64
dtype: object

In [35]:
df2.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

#### 3) pd.get_dummies()
OneHot Encoding

In [36]:
df3 = df.copy()
df3.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [37]:
df_ohe = pd.get_dummies(data=df3,columns=['State'])
df_ohe.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,0,1
1,162597.70,151377.59,443898.53,191792.06,1,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1,0
3,144372.41,118671.85,383199.62,182901.99,0,0,1
4,142107.34,91391.77,366168.42,166187.94,0,1,0

In [38]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

#### Applying Label Encoder

In [39]:
df['State'] = lb.fit_transform(df['State'])
df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [40]:
df.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State                int32
Profit             float64
dtype: object

In [53]:
# x = df[['R&D Spend','Administration','Marketing Spend','State']]
x = df.iloc[:,:-1]
# x = df.drop('Profit',axis=1)
# y = df['Profit'] 
y = df.iloc[:,-1] 
print(type(x))
print(type(y))
y.head()

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [54]:
x.head()

   R&D Spend  Administration  Marketing Spend  State
0  165349.20       136897.80        471784.10      2
1  162597.70       151377.59        443898.53      0
2  153441.51       101145.55        407934.54      1
3  144372.41       118671.85        383199.62      2
4  142107.34        91391.77        366168.42      1

In [55]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

### Splitting data into Training and Testing data

In [58]:
from sklearn.model_selection import train_test_split

In [60]:
print(x.shape)
print(y.shape)

(50, 4)
(50,)

In [95]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=23)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(37, 4)
(13, 4)
(37,)
(13,)

In [96]:
x_train.head()

    R&D Spend  Administration  Marketing Spend  State
3   144372.41       118671.85        383199.62      2
22   73994.56       122782.75        303319.26      1
48     542.05        51743.15             0.00      2
30   61994.48       115641.28         91131.24      1
35   46014.02        85047.44        205517.64      2

In [97]:
from sklearn.linear_model import LinearRegression

In [98]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [99]:
ypred = model.predict(x_test)
print('ypred',ypred)

ypred [150398.9733281  128824.52703675 130759.13935022  99005.92930945
 127241.31360569  97267.00844026 115726.78250011 152718.71347767
  74363.54230203 102244.44910452 102587.373908   135760.16182678
  64092.28491521]

In [100]:
# R2 Score
print("Training Score",model.score(x_train,y_train))
print("Testing Score",model.score(x_test,y_test))

Training Score 0.9563787074850465
Testing Score 0.8892654733109248

In [102]:
from sklearn.metrics import mean_squared_error, mean_absolute_error,r2_score

In [103]:
mae = mean_absolute_error(y_test,ypred)
mse = mean_squared_error(y_test,ypred)
rmse = np.sqrt(mean_squared_error(y_test,ypred))
r2s = r2_score(y_test,ypred)
print('MAE',mae)
print('MSE',mse)
print('RMSE',rmse)
print('R2_score',r2s)
print('Model_Score',model.score(x_test,y_test))

MAE 5428.020815085669
MSE 62023540.3033909
RMSE 7875.502542910573
R2_score 0.8892654733109248
Model_Score 0.8892654733109248

In [104]:
df['State'].value_counts()

0    17
2    17
1    16
Name: State, dtype: int64

In [106]:
df.sample(7)

    R&D Spend  Administration  Marketing Spend  State     Profit
30   61994.48       115641.28         91131.24      1   99937.59
27   72107.60       127864.55        353183.81      2  105008.31
33   55493.95       103057.49        214634.81      1   96778.92
16   78013.11       121597.55        264346.06      0  126992.93
40   28754.33       118546.05        172795.67      0   78239.91
1   162597.70       151377.59        443898.53      0  191792.06
0   165349.20       136897.80        471784.10      2  192261.83

In [107]:
m = model.coef_
c = model.intercept_
print(m)
print(c)

[ 8.25098019e-01 -1.89190059e-02  2.30898595e-02  4.04908739e+02]
48068.009144712145

In [112]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [113]:
# df['ypred'] = ypred
# ypred = m0(R&D Spend) + m1(Administration) + m2(Marketing Spend) + m3(State) + c
df['ypred_eqn'] = df['R&D Spend']*m[0] + df['Administration']*m[1] + df['Marketing Spend']*m[2] + df['State']*m[3] + c
df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit      ypred_eqn
0  165349.20       136897.80        471784.10      2  192261.83  193610.582289
1  162597.70       151377.59        443898.53      0  191792.06  189612.690486
2  153441.51       101145.55        407934.54      1  191050.39  182582.781780
3  144372.41       118671.85        383199.62      2  182901.99  174602.088074
4  142107.34        91391.77        366168.42      1  166187.94  172451.138544

#### Predict Profit when
1) R&DSpend = 85094.32, Administration=136354.98, Marketing Spend=239408.14, State=1

In [110]:
# model.predict([[85094.32],[136354.98],[239408.14],[1]]) # Error
ypred_m1 = model.predict([[85094.32,136354.98,239408.14,1]])
print(ypred_m1)
ypred_m2 = 85094.32*m[0] + 136354.98*m[1] + 239408.14*m[2] + 1*m[3] + c
print(ypred_m2)

[121632.27239174]
121632.2723917352