#### Hypothesis Testing

1) One Sample Z_test<br>
2) Two Sample Z_test<br>
3) One Sample T Test<br>
4) Two Sample T_test<br>
5) Chi Square test<br>
6) ANOVA,f-test<br>

#### Normality test
1) Shapiro Test<br>
2) Jarquee Bera

In [68]:
import pandas as pd
import numpy as np
import statistics as st

In [69]:
from statsmodels.stats.weightstats import ztest
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind

# Z-Test

### One Sample Z-Test

The One-Sample z-test is used when we want to know whether the difference between the mean of a sample mean and the mean of a population is large enough to be statistically significant, that is, if it is unlikely to have occurred by chance.<br>
We compare sample mean with population mean.

1) Z-test assumes a sample size >30 to work.<br>
2) Samples should be drawn at random from the population.<br>
3) The standard deviation of the population should be known.<br>
4) Samples that are drawn from the population should be independent of each other.<br>
5) The data should be normally distributed, however for large sample size, it is assumed to have a normal distribution.


<img src="z_statistic.png">
where<br>
x_bar = sample mean<br>
µ = populataion mean<br>
σ = std_dev of population<br>
n = sample size<br>

6)	Now to determine if H0 or H1 is true. There are 2 methods<br>
a) Comparing z_statistic vs critical value<br>
OR<br>
b) Calculate p-value corresponding to z-statistics value using z-table. (Python computes it using scipy library)<br>
     
    If p-value <alpha => Reject Ho (Null Hypothesis) or Accept H1 (Alternate Hypothesis)
    if p-value >=alpha => Reject H1 (Alternate Hypothesis) or Accept Ho (Null Hypothesis)

<img src="one_sample_z_test_cases.png">

### How to fetch values of z_critical from z_table ?

Link Used -> https://sixsigmastudyguide.com/one-sample-z-hypothesis-test/

1)  Right Tail test -> Look for 1-alpha value in Positive z_table<br>
2)  Left Tail test -> Look for alpha value in Negative z_table<br>
3)  Two Tailed test -> Either look for 1-(alpha/2) in Positive z-table OR<br>
                       look for alpha/2 in Negative z-table

### How to fetch values of t_critical from t_table?

Link used -> https://sixsigmastudyguide.com/one-sample-t-hypothesis-test/

1) Left Tailed Test - Check the corresponding dof based on one tail alpha values in the t-table.  <br>
2) Right Tailed Test - Check the corresponding dof based on one tail alpha values in the t-table.<br>
3) Two Tailed Test - Check the corresponding dof based on two tail alpha values in the t-table. Consider both positive and negative values as <b>-t_crit and +t_crit</b>

#### One Sample Z_test - Right tailed Example
A coaching institute claims that the students’ mean scores in their institute are greater than the 82 marks with a standard deviation of 20. A sample of 81 students is selected, and the mean score is 90 marks. At 95% confidence level, is there enough evidence to support the claim?<br>
Consider z_crit = 1.645

In [70]:
# H0 : µ <= 82
# H1 : µ > 82
# Right Tailed test
std,n = 20,81
alpha=0.05
x,µ = 90,82
z_crit = 1.645
z_stat = (x-µ)/(std/np.sqrt(n))
print('z_stat',z_stat)
if z_stat < z_crit:
    print('Ho is accepted')
else:
    print('Ho rejected')

z_stat 3.5999999999999996
Ho rejected

<img src="z_test_ex1_res.png" align="left">
There is enough evidence to support the students’ scores in their institute is greater than the 82 marks.

#### One Sample Z_test - Left tailed Example

An online grocery shop claims that the mean delivery time is less than 120 minutes with a standard deviation of 30 minutes. A random sample of 49 orders is delivered with a mean of 100 minutes. At 95% confidence level, is there enough evidence to support the claim? Consider z_crit = -1.645

In [72]:
# H0 : µ >= 120
# H1 : µ < 120
# Left Tailed test
std,n = 30,49
alpha=0.05
x,µ = 100,120
z_crit = -1.645
z_stat = (x-µ)/(std/np.sqrt(n))
print('z_stat',z_stat)
if z_stat < z_crit:
    print('Ho is Rejected')
else:
    print('Ho Accepted')

z_stat -4.666666666666667
Ho is Rejected

<img src="z_test_ex2_res.png" align="left">
There is enough evidence to support the claim the mean delivery time is less than 120 minutes.

#### One Sample Z_test - Two Tailed Example
The mean weight of the rubber gasket is 60 grams with a standard deviation of 48. Furthermore, A researcher thinks that material X will have a significant impact on the weight of a gasket. A random sample of 64 gaskets collected and the mean weight is 68 grams. At 95% confidence level test the material X had an effect. Consider z_crit = +-1.96

In [138]:
# H0 : µ = 60
# H1 : µ != 60
# Two Tailed test
std,n = 48,64
alpha=0.05
alpha_by_2 = alpha/2
x,µ = 68,60
z_crit = 1.96  # z_crit = +-1.96
z_stat = (x-µ)/(std/np.sqrt(n))
print('z_stat',z_stat)
if z_stat >- z_crit and z_stat<z_crit:
    print('Ho is Accepted')
else:
    print('Ho Rejected')

z_stat 1.3333333333333333
Ho is Accepted

<img src="z_test_ex3_res.png" align="left">
Since zcal value is not in the rejection region. Hence, we fail to reject the null hypothesis. We can say the mean weight of the gasket is 60.

#### Q1) 
We need to determine if girls on average score higher than 600 in the exam. 
Scores of 49 girls are collected for samples analysis. Population Standard deviation for their scores is 100.  What inference can be drawn at alpha as 5%. Smaple mean turns out to be 641<br>
Consider z_crit = 1.645

#### Q2)
1,500 women followed the Keto diet for a month. A random sample of 64 women gained an average of 6.7 pounds. Test the hypothesis that the average weight gain per woman for the month was over 5 pounds. The standard deviation for all women in the group was 7.1. Consider z_crit = 1.645

### One Sample Z-test

In [84]:
df0 = pd.read_csv("Strength.csv")
df0.head()

   Strength(in lbs)
0              48.6
1              38.8
2              52.6
3              48.0
4              60.2

In [85]:
print(df0.shape)
df0.isnull().sum()

(40, 1)

Strength(in lbs)    0
dtype: int64

Let <br>X: the breaking strength of the glass rod<br>
Thus $\mu$: the average the breaking strength of the glass rod <br>
alpha=5%

The hypothesis is                                                                       
H<sub>0</sub>: The mean the breaking strength of the glass rod is equal to 55, i.e $\mu$ = 55 <br>
**AGAINST**<br>
H<sub>a</sub>: The mean the breaking strength of the glass rod is not equal to 55, , i.e $\mu$ ≠ 55

In [90]:
from statsmodels.stats.weightstats import ztest

In [93]:
alpha=0.05
z_stat,p = ztest(df0['Strength(in lbs)'], value =55)
print('z_stat',z_stat,'p_val',p)

if(p <  alpha/2):
    print("Reject Ho")
else:
    print("Accpet Ho")

z_stat -4.431740748679182 p_val 9.347536680921983e-06
Reject Ho

## Two Sample Z-test
1) Two Sample Z test when we want to compare the mean of two samples.<br>

2) In this test, we have provided 2 normally distributed and independent populations, and we have drawn samples at random from both populations. Here, we consider µ1 and µ2 be the population mean X1 and X2 are the observed sample mean. <br>

Here, our null hypothesis could be like:<br>
Ho : µ1 - µ2 = 0<br>
H1 : µ1- µ2 != 0

<img src="z_statisic_2sample.png">

where <br>
x_bar,y_bar = sample means of x and y respectively<br>
µ1, µ2 = population means of x and y respectively<br>
σ1,σ2 = std of population x and y respectively<br>
n1,n2 = sample size of x and y respetcively<br>

### Two Sample Z_test - Two sided

In [95]:
df1 = pd.read_csv('Fertilizer.csv')
df1.head()

   Fertilizer 1  Fertilizer 2
0            23            45
1            34            34
2            45            21
3            32            34
4            34            45

In [97]:
print(df1.shape)
print(df1.isnull().sum())

(35, 2)
Fertilizer 1    0
Fertilizer 2    0
dtype: int64

Let <br>
X: yeild due to fertilizer 1 <br>
Y: yeild due to fertilizer 2 <br>
alpha=5%

Thus <br>
$\mu$<sub>A</sub>: the average yeild due to fertilizer 1 <br>
$\mu$<sub>B</sub>: the average yeild due to fertilizer 2 <br>

The hypothesis is <br>
H<sub>0</sub>: The average yeild due to fertilizer 1 is equal to the average yeild due to fertilizer 2,
i.e  $\mu$<sub>A</sub> =  $\mu$<sub>B</sub> <br>
**AGAINST** <br>
H<sub>A</sub>: The average yeild due to fertilizer 1 is not equal to the average yeild due to fertilizer 2,
i.e  $\mu$<sub>A</sub> ≠  $\mu$<sub>B</sub>

In [101]:
alpha=0.05
z_stat,p = ztest(x1 = df1['Fertilizer 1'], x2=df1['Fertilizer 2'])
print('z_stat',z_stat,'p_val',p)
if(p <  alpha/2):
    print("Reject Ho")
else:
    print("Accpet Ho")

z_stat -1.1390306751872912 p_val 0.25469036008906554
Accpet Ho

# T-Test

### One Sample T-test
One sample t-test is one of the widely used t-tests for comparison of the sample mean of the data to a particular given value. Used for comparing the sample mean to the true/population mean. T-test is used when sample size is less than 30

<img src="t_statistic_1sample.png" align='center' width="200">

where<br>
x_bar = smaple mean<br>
µ = popultaion mean<br>
σ = std_dev of sample<br>
n = sample size<br>

dof = degrees of freedom = n-1

#### One Sample T-test - Right tailed

A software start-up company plans to introduce company transportation based on the town hall meeting’s feedback. Admin manager randomly collected 12 employees’ spending on public transportation for the month. With 95% confidence level, is there any evidence that the population mean is above 400?
Sample stdev = 40. Sample mean is 415. <br>
Consider t_crit = 1.796

In [103]:
# H0: μ≤400   # H1<400 
# H1: μ>400   # H0>=400
# Right tail
n = 12
dof = n-1
x,μ = 415,400
std = 40
t_crit = 1.796  
t_stat = (x-µ)/(std/np.sqrt(n))
print('t_stat',t_stat)

if t_stat<t_crit:
    print('Ho is Accepted')
else:
    print('Ho Rejected')

t_stat 1.2990381056766578
Ho is Accepted

<img src="t_test_one_sample_ex2_res.png" align="left">
There is no sufficient evidence to claim the population mean is above 400.

#### One_Sample T-test Left Tail Example

The restaurant owner updated the billing software to reduce the waiting time. He randomly collected 10 customers waiting time at the billing counter. With 95% confidence level, is there any evidence that the population average waiting time is less than 1.9 minutes? Sample mean is 2.2, sample stdev = 0.55. <bt>Consider t_crit = 1.833

In [107]:
# H0: μ≥1.9
# H1: μ<1.9
# Left Tail
alpha = 0.05
n = 10
dof = n-1
x,μ = 2.2,1.9
std = 0.55
t_crit = 1.833  
t_stat = (x-µ)/(std/np.sqrt(n))
print('t_stat',t_stat)

if t_stat<t_crit:
    print('Ho is Rejected')
else:
    print('Ho Accepted')

t_stat 1.7248787237282084
Ho is Rejected

<img src="t_test_one_sample_ex3_res.png" align="left">
There is sufficient evidence to claim the population mean is less than 1.9 minutes.

#### One sample T-Test Two Tailed
According to the American health association, a pregnant woman’s average blood pressure is 120 mm Hg. 15 random samples from pregnant women were collected to check the sample blood pressure is different from accepted standard blood pressure, the sample means turned out to be 123 with a stdev = 7.32.<br>
t_crit = +- 2.145

In [110]:
# H0: μ=120
# H1: μ≠120
alpha = 0.05
x,μ = 123,120
n = 15
dof = n-1
std = 7.32
t_crit = 2.145  # t) crit = +- 2.145
t_stat = (x-µ)/(std/np.sqrt(n))
print('t_stat',t_stat)

if t_stat >- t_crit and t_stat<t_crit:
    print('Ho is Accepted')
else:
    print('Ho Rejected')

t_stat 1.587288256642384
Ho is Accepted

<img src="t_test_one_sample_ex1_res.png" align="left">
Inference - The calculated t statistic value less than the critical value, hence we failed to reject null hypothesis

#### Q1)
Your company wants to improve sales. Past sales data indicate that the average sale was over 100 per transaction. After training your sales force, recent sales data (taken from a sample of 25 salesmen) indicates an average sale of 130, with a standard deviation of 15. Did the training work? Test your hypothesis at a 5% alpha level.t_crit =1.711

### One Sample t-Test - One Sided

In [116]:
from scipy.stats import ttest_1samp

In [112]:
# lifespan of bulbs
df2 = pd.read_csv("LifeSpan.csv")
df2.head()

    life
0  35000
1  49000
2  44000
3  45900
4  43400

In [113]:
df2.shape

(15, 1)

In [114]:
df2.isnull().sum()

life    0
dtype: int64

Let <br>X: the life of bulb in hours <br>
Thus $\mu$<sub>A</sub>: the average life of bulb in hours<br> 
alpha=5%

The hypothesis is                                                                     
H<sub>0</sub>: The mean life of bulb in hours is upto 45000, i.e $\mu$<sub>A</sub> <= 45000 <br>
**AGAINST**<br>
H<sub>a</sub>: The mean life of bulb in hours is greater than 45000, i.e $\mu$<sub>A</sub> > 45000

In [121]:
# Right tail test
alpha=0.05
t_stat,p = ttest_1samp(df2["life"], popmean = 45000)
print('t_stat',t_stat,'p_val',p)

if(p <  alpha):
    print("Reject Ho")
else:
    print("Accpet Ho")

t_stat -2.1981495173443797 p_val 0.04525698313212501
Reject Ho

### One Sample t-test - Two sided Test

In [123]:
df3 = pd.read_csv("Production.csv")
df3.head()

   Items Produced
0              34
1              34
2              23
3              45
4              23

In [124]:
df3.shape

(10, 1)

In [125]:
df3.isnull().sum()

Items Produced    0
dtype: int64

Let <br>X: the number of furniture items produced by machine A <br>
Thus $\mu$: the average number of furniture items produced by machine A <br>
alpha = 5%

The hypothesis is                                                                       
H<sub>0</sub>: The mean number of items produced my machine A is equal to 30, i.e $\mu$= 30 <br>
**AGAINST**<br>
H<sub>a</sub>: The mean number of items produced my machine A is not equal to 30, , i.e $\mu$ ≠ 30

In [126]:
from scipy.stats import ttest_1samp

In [127]:
alpha = 0.05
alpha_by2 = alpha/2
t_stat,p = ttest_1samp(df3["Items Produced"],popmean=30)
print('t_stat',t_stat,'p_val',p)

if(p <  alpha/2):
    print("Reject Ho")
else:
    print("Accpet Ho")

t_stat 1.2674612253287467 p_val 0.23680061493494728
Accpet Ho

## Two sample T-test
The two-sample t-test (also known as the independent samples t-test) is a method used to test whether the unknown population means of two groups are equal or not.

<img src="2_samp_t_test.png">

where <br>
x_bar,y_bar = sample means of x and y respectively<br>
µ1, µ2 = population means of x and y respectively<br>
s1,s2 = variance of x and y respectively<br>
n1,n2 = sample size of x and y respetcively<br>

### Two sample test - Two sided

In [129]:
df4 = pd.read_csv("Diet_data.csv")
df4

   Diet A  Diet B
0      45      45
1      34      35
2      46      32
3      23      47
4      67      37
5      45      51
6      65      42
7      23      38
8      65      32
9      23      46

In [130]:
df4.shape

(10, 2)

In [131]:
df4.isnull().sum()

Diet A    0
Diet B    0
dtype: int64

Let <br>X: the gain in weight due to diet A <br>
    Y: the gain in weight due to diet B<br><br>
Thus <br>
$\mu$<sub>A</sub>: the average gain in weight due to diet A <br>
$\mu$<sub>B</sub>: the average gain in weight due to diet B <br>
alpha=5%    
                                                                  
The hypothesis is                                                                     
H<sub>0</sub>: The average gain in weight due to diet A is equal to the average gain in weight due to diet B, i.e $\mu$<sub>A</sub> = $\mu$<sub>B</sub> <br>
**AGAINST**<br>
H<sub>a</sub>: The average gain in weight due to diet A is not equal to the average gain in weight due to diet B, i.e $\mu$<sub>A</sub> ≠ $\mu$<sub>B</sub> <br>

In [135]:
from scipy.stats import ttest_ind

In [136]:
alpha=0.05
t_stat ,p = ttest_ind(df4["Diet A"],df4["Diet B"])

print('t_stat',t_stat,'p_val',p)

if(p <  alpha/2):
    print("Reject Ho")
else:
    print("Accpet Ho")

t_stat 0.5169140149580205 p_val 0.6115094596012607
Accpet Ho